.sidebarToggleWrapper {
  position: relative;
  padding: 1em;

  .logo {
    width: 32px;
  }

  .toggle {
    position: absolute;
    bottom: 25%;
    right: 1em;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #4a4a4a;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.3s ease-in-out;
    transition-property: transform, background;

    &:hover {
      background: #5a5a5a;
    }

    svg {
      width: .5em;
    }
  }
}