.sidebar {
    grid-area: sidebar;
    height: 100%;
    width: 300px;
    position: fixed;
    background: #333333;
    -webkit-box-shadow: 0 0 10px 5px #000000aa;
            box-shadow: 0 0 10px 5px #000000aa;
    z-index: 1;

    section {
        margin: 5vh auto;
        width: 80%;

        header {
            margin-bottom: 1vh;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-box;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    -moz-box-align: center;
                 align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    -moz-box-pack: justify;
                 justify-content: space-between;

            //  ADD BUTTON
            button {
                color: #ffffff;
                opacity: 0;
                padding: 1px 5px;
                border-radius: 1vh;
                background: transparent;
                -webkit-transition: 0.2s ease-in-out;
                transition: 0.2s ease-in-out;
                -webkit-transition-property: background, opacity;
                transition-property: background, opacity;

                &:hover {
                    background: #666666;
                }
            }

        }

        &:hover {
            header button {
                opacity: 1;
            }
        }
    }

    .main-part {
        display: grid;
        grid-gap: 15px;

        .profile {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: auto auto;
            -webkit-box-pack: left;
                -ms-flex-pack: left;
                    -moz-box-pack: left;
                 justify-content: left;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    -moz-box-align: center;
                 align-items: center;

            img {
                padding: 4px;
                height: 31px;
                width: 31px;
                object-fit: cover;
                border-radius: 35px;
                border: #ffffff 2px solid;
            }

            .info {
                // USERNAME
                h4 {
                    font-family: "Roboto Black";
                    font-weight: normal;
                    color: #ffffff;
                }

                // H SPENT WATCHING
                h6 {
                    font-family: "Roboto Regular";
                    font-weight: normal;
                }
            }
        }

        .search-box {
            background: #4d4d4d;
            border-radius: 1vh;
            display: grid;
            grid-template-areas: "input button";
            -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                    -moz-box-pack: space-evenly;
                    justify-content: space-evenly;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    -moz-box-align: center;
                    align-items: center;

            input {
                background: #4d4d4d;
                border: none;
                padding: 1vh;
                outline: none;
                color: #ffffff;
                font-family: "Roboto Black";
            }

            button {
                height: 25px;
                width: 25px;
                border-radius: 30px;
                font-size: 0.7em;
                background: #666666;
                color: #ffffff;
                -webkit-transition: background 0.3s ease-in-out;
                transition: background 0.3s ease-in-out;

                &:hover {
                    background: #999999;
                    cursor: pointer;
                }
            }
        }
    }

    .active {
        background: #555555;
    }

    h6,
    h4 {
        font-family: "Roboto Black";
        margin: 0;
        color: #808080;
    }

    // ITEM
    .list {
        .item-wrapper {
            display: grid;
            grid-template-columns: auto 20px;
            text-align: center;
            grid-gap: 15px;
            -webkit-box-align: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            // ITEM
            a:nth-child(1) {
                overflow: hidden;
                display: grid;
                grid-gap: 10px;
                grid-template-columns: 40px auto;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        -moz-box-align: center;
                     align-items: center;
                -webkit-box-pack: left;
                    -ms-flex-pack: left;
                        -moz-box-pack: left;
                     justify-content: left;
                border-radius: 1vh;
                -webkit-transition: 0.1s ease-in-out;
                transition: 0.1s ease-in-out;
                -webkit-transition-property: padding, background, font-size, -webkit-transform;
                transition-property: padding, background, font-size, -webkit-transform;
                transition-property: padding, background, transform, font-size;
                transition-property: padding, background, transform, font-size, -webkit-transform;
            }

            // DELETE BUTTON
            button {
                font-family: "Roboto Black";
                opacity: 0;
                padding: 1px 5px;
                border-radius: 1vh;
                background: transparent;
                color: #ff6961;
                -webkit-transition: 0.2s ease-in-out;
                transition: 0.2s ease-in-out;
                -webkit-transition-property: background, opacity;
                transition-property: background, opacity;
                background: #222222;

                &:hover {
                    background: #444444;
                }
            }

            &:hover {
                button {
                    opacity: 1;
                }
            }
        }

        > div a:hover {
            background: #222222;
        }

        // ITEM ICON
        svg {
            margin: 0 auto;
        }

        // ITEM NAME
         p {
            margin: 0;
            padding: 1vh 0;
        }
    }
}

@media only screen and (max-width: 1080px) {
    main {
        margin-left: 150px !important;
    }

    .sidebar {
        width: 150px !important;
        text-align: center !important;

        .main-part {
            display: block !important;

            .profile {
                display: block !important;
            }
        }

        .search-box, .separator {
            display: none !important;
        }

        section button {
            display: none !important;
        }

        .item-wrapper {
            grid-template-columns: auto !important;
            grid-gap: 0 !important;

            button {
                display: none !important;
            }

            // ITEM ICON
            a:nth-child(1) {
                padding: 1vh 0 !important;
                display: block !important;
            }

            // ITEM NAME
            p {
                padding: 1vh 0 0 0 !important;
            }

        }
    }
}