@import "../mixins.scss";

.sidebar {
    @include box-shadow(0 0 10px 5px #00000055);
    @include transition(width 0.3s ease-in-out);
    @include animation(appear 0.3s ease-in-out);
    min-height: 100vh;
    height: 100%;
    width: 300px;
    position: fixed;
    background: linear-gradient(315deg, #333333 0%, #363636 100%);
    z-index: 1;

    section {
        @include transition(color 0.3s ease-in-out);
        margin: 50px auto;
        width: 80%;

        header {
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);
            margin-bottom: 10px;

            //  ADD BUTTON
            button {
                @include transition(0.2s ease-in-out);
                color: #ffffff;
                opacity: 0;
                padding: 2px 5px;
                border-radius: 10px;
                background: transparent;
                transition-property: background, opacity;

                &::-moz-focus-inner {
                    border: 0;
                }

                &:focus,
                &:hover {
                    background: #666666;
                }

                &:focus {
                    opacity: 1;
                }
            }

        }

        &:hover {
            color: rgba(0, 0, 0, 0.3);
            header button {
                opacity: 1;
            }
        }
    }

    .main-part {
        display: grid;
        grid-gap: 15px;

        .profile {
            @include justify-content(left);
            @include align-items(center);
            display: grid;
            grid-gap: 10px;
            grid-template-columns: auto auto;

            .placeholder-text-light {
                background: #505050;
            }

            .profile-icon {
                margin: 0 auto;
                height: 31px;
                width: 31px;
                padding: 4px;
                border-radius: 100%;
                border: #ffffff 2px solid;

                // shows up before loading starts
                .placeholder {
                    border-radius: 50%;
                }
            }

            img {
                @include animation(SidebarProfileIconLoad 0.3s ease-in);
            }

            img, .default-icon {
                @include object-fit(cover);
                height: 31px;
                width: 31px;
                border-radius: 50%;
            }

            .default-icon {
                background: #f7931e;
            }

            .info {
                @include animation(appear 0.3s ease-in-out);
                // USERNAME
                h4 {
                    font-family: "Roboto Black";
                    color: #ffffff;
                }

                // H SPENT WATCHING
                h6 {
                    font-family: "Roboto Regular";
                }
            }
        }
    }

    // CURRENT ROUTE
    .active {
        background: #555555;

        &:focus,
        &:hover {
            background: #666666 !important;
        }
    }

    h6,
    h4 {
        font-family: "Roboto Black";
        margin: 0;
        color: #808080;
    }

    // ITEM
    .list {
        height: 120px;
        overflow-y: auto;

        #response {
            margin: 5px 0;
        }

        .horizontal-err {
            margin: 5px auto;
        }

        .item-wrapper {
            @include align-items(center);
            @include animation(appear 0.3s ease-in-out);
            height: 40px;
            display: grid;
            grid-template-columns: auto 20px 1px;
            text-align: center;
            grid-gap: 15px;

            &:hover {
                button {
                    opacity: 1;
                }
            }

            // ITEM
            a:nth-child(1) {
                @include align-items(center);
                @include justify-content(left);
                @include transition(0.1s ease-in-out);
                overflow: hidden;
                display: grid;
                grid-gap: 10px;
                grid-template-columns: 40px auto;
                border-radius: 10px;
                transition-property: padding, background, transform, font-size;
            }

            // DELETE BUTTON
            button {
                @include transition(0.2s ease-in-out);
                font-family: "Roboto Black";
                opacity: 0;
                padding: 2px 5px;
                border-radius: 10px;
                background: transparent;
                color: #ff6961;
                transition-property: background, opacity;
                background: #222222;

                &::-moz-focus-inner {
                    border: 0;
                }

                &:hover {
                    background: #444444;
                }

                &:focus {
                    opacity: 1;
                }
            }
        }

        > div a {
            outline: none;

            &:focus,
            &:hover {
                background: #222222;
            }
        }

        // ITEM ICON
        svg {
            margin: 0 auto;
        }

        // ITEM NAME

         p {
            margin: 0;
            padding: 10px 0;
        }
    }
}

/*
    * == KEYFRAMES ==
*/

@include keyframes(SidebarProfileIconLoad) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (max-width: 1080px) {
    body main {
        margin-left: 150px;
    }

    .sidebar {
        width: 150px !important;
        text-align: center !important;

        .main-part {
            display: block !important;

            .profile {
                margin: 10px 0 !important;
                display: block !important;
            }
        }

        .search-box input {
            width: 50% !important;
        }

        .separator {
            display: none !important;
        }

        section {
            margin: 30px auto !important;

            header button {
                display: none !important;
            }
        }

        .list {
            height: 240px !important;

            .item-wrapper {
                height: 80px;
            }
        }

        .item-wrapper {
            grid-template-columns: auto !important;
            grid-gap: 0 !important;

            button {
                display: none !important;
            }

            // ITEM ICON
            a:nth-child(1) {
                padding: 10px 0 !important;
                display: block !important;
            }

            // ITEM NAME
            p {
                padding: 10px 0 0 0 !important;
            }
        }
    }
}

.placeholder-small {
    height: 20px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 5px;
    animation: 2.2s cubic-bezier(0.19, 1, 0.22, 1) placeholderSmall;
}

.placeholder-small-animate {
    animation: 2.2s cubic-bezier(0.19, 1, 0.22, 1) infinite placeholderSmall;
}

.placeholder-medium {
    height: 30px;
    width: 190px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.placeholder-inner {
    position: absolute;
    height: 15px;
    width: 80px;
    border-radius: 8px;
    margin-top: 7px;
    margin-left: 50px;
    background: #606060;
}

.placeholder-inner-icon {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 8px;
    margin-top: 7px;
    margin-left: 14px;
    background: #606060;
}

.placeholder-light {
    background: #404040;
}

.placeholder-small-animate {
    animation: 2.2s cubic-bezier(0.19, 1, 0.22, 1) infinite placeholderSmall;
}

@keyframes placeholderSmall {
  0% { width: 40px; }
  100% { width: 150px; }
}
