*.db
*.db-shm
*.db-wal
extra/*.pem
utils/ffmpeg*
utils/ffprobe*
*.sqlite
target
target/*
expanded.rs
*.db
build
Cargo.lock
logs/
*.jpg
transcoding
benches/bench_1.mkv
benches/bench_1.txt

# UI
node_modules
ui/coverage
ui/build
ui/yarn.lock

npm-debug.log*
yarn-debug.log*
yarn-error.log*
config.json
core
