*.db
*.db-shm
*.db-wal
extra/*.pem
profile/
utils/ffmpeg*
utils/ffprobe*
*.sqlite
target
target/*
expanded.rs
*.db
build
*.lock
logs/
*.jpg
transcoding

# UI
node_modules
ui/coverage

npm-debug.log*
yarn-debug.log*
yarn-error.log*
