*.db
*.db-shm
*.db-wal
extra/*.pem
profile/
utils/ffmpeg
utils/ffprobe
*.sqlite
target
target/*
expanded.rs
*.db
build
build/*
web_ui/package-lock.json
web_ui/yarn.lock
*.lock
static/
logs/
*.jpg
web_ui/fuckoff.json
transcoding
