.btn {
  font-size: 1em;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
  font-family: "Roboto Bold";
  outline: none;

  &.primary {
    background: var(--accentColor);
  }

  &:not(.secondary) {
    padding: .5em;
  }

  &.primary, &.critical {
    filter: saturate(0.7);

    &:hover {
      filter: saturate(1);
    }
  }

  &.secondary {
    background: transparent;
    color: var(--primaryTextColor);

    &:hover {
      text-decoration: underline;
    }
  }

  &.disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &.critical {
    background: var(--criticalColor);
    color: var(--criticalTextColor);
  }
}
