.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  border-radius: 10px;
  background: transparent;
  transition: 200ms ease-in-out;
  transition-property: background, opacity;
  font-family: "Roboto Bold";
  outline: none;

  &:not(.disabled) {
    opacity: 1;
  }

  &.primary {
    padding: .5em;
    background: var(--accentLighterColor);

    svg {
      fill: var(--accentTextColor);
    }

    &:hover {
      background: var(--accentColor);
    }
  }

  &.secondary {
    color: var(--primaryTextColor);

    &:hover {
      text-decoration: underline;
    }
  }

  &.disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &.critical {
    padding: .5em;
    background: var(--criticalLighterColor);
    color: var(--criticalTextColor);

    &:hover {
      background: var(--criticalColor);
    }
  }
}
