.nextVideoOverlay {
  display: flex;
  grid-area: next_ep;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  justify-content: flex-end;
  
  .nextVideoBtn {
    display: flex;
    height: 40px;
    width: 130px;
    background-color: #ccc;
    justify-content: center;
  }
}
