:root {
  --borderRadius: 10px;
  --accentColor: oklch(76.5% 0.19 69.5);
  --accentTextColor: #1a1a1a;
  --criticalColor: oklch(59.26% 0.27 28.11);
  --criticalTextColor: #fff;
  --primaryTextColor: #000;
  --secondaryTextColor: #222;
  --tertiaryTextColor: #444;
  --primaryColor: #fff;
  --secondaryColor: #eee;
  --tertiaryColor: #ddd;
  --quaternaryColor: #ccc;
  --quinaryColor: #bbb;
  --senaryColor: #aaa;
  --septenaryColor: #999;
  --bannerPrimaryColor: #2a2a2a;
  --bannerSecondaryColor: #3a3a3a;
  --bannerPrimaryTextColor: #fff;
  --bannerSecondaryTextColor: #ddd;
  --bannerTertiaryTextColor: #ccc;
  --bannerBottomBorderColor: #3a3a3a;
  --bannerOverlayShadow: #1a1a1add;
  --modalPrimaryColor: #eee;
  --modalSecondaryColor: #ddd;
  --modalTertiaryColor: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primaryTextColor: #fff;
    --secondaryTextColor: #ccc;
    --tertiaryTextColor: #aaa;
    --primaryColor: #1a1a1a;
    --secondaryColor: #2a2a2a;
    --tertiaryColor: #3a3a3a;
    --quaternaryColor: #4a4a4a;
    --quinaryColor: #5a5a5a;
    --senaryColor: #6a6a6a;
    --septenaryColor: #7a7a7a;
    --modalPrimaryColor: #2a2a2a;
    --modalSecondaryColor: #3a3a3a;
    --modalTertiaryColor: #4a4a4a;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html,
body {
  height: 100%;
  min-height: 100dvh;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--primaryColor);
  color: var(--primaryTextColor);
  scrollbar-color: var(--accentColor) #333333;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  font-family: "Roboto Regular", Helvetica, Arial;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 100ms ease-in-out;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("fonts/Roboto-Regular.woff");
  font-display: fallback;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("fonts/Roboto-Bold.woff");
  font-display: fallback;
}

@font-face {
  font-family: "Roboto Condensed Regular";
  src: url("fonts/RobotoCondensed-Regular.woff");
  font-display: fallback;
}

::-webkit-scrollbar {
  &-track {
    background: #333333;
    border-radius: var(--borderRadius);
  }

  &-thumb {
    background: var(--accentColor);
    border-radius: var(--borderRadius);
  }

  &-corner {
    background: none;
  }
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  font-family: "Roboto Regular", Arial;
  transition: background 0.3s ease-in-out;
  background: var(--tertiaryColor);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--primaryTextColor);
  width: 100%;
  min-height: 40px;

  &:focus,
  &:hover {
    background: var(--quaternaryColor);
  }
}

a {
  text-decoration: none;
  color: var(--primaryTextColor);
  outline: none;
}

img {
  background: var(--secondaryColor);

  &:-moz-loading {
    visibility: hidden;
  }
}

h1, h2 {
  font-family: "Roboto Bold", Arial;
}

nav ul {
  list-style: none;
}

.hidden {
  display: none;
}

.auth-form {
  display: grid;
  gap: 2rem;
  grid-template-areas: "gap-top" "title" "fields" "actions" "gap-bottom";
  grid-template-rows: minmax(0, 0.5fr) auto auto auto minmax(0, 1fr);
  align-items: center;
  width: 100%;
  max-width: 600px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  color: var(--primaryTextColor);

  & header {
    grid-area: title;
    margin-bottom: 1rem;
    text-align: center;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 64px;
      background-color: var(--primaryTextColor);
      margin-bottom: 4rem;
      -webkit-mask: url("icons/logo.svg") no-repeat 50% 50% / contain;
      mask: url("icons/logo.svg") no-repeat 50% 50% / contain;
    }

    & h2 {
      font-size: 2rem;
    }

    & h3 {
      font-size: 1.2rem;
      margin-top: 1rem;
      color: var(--tertiaryTextColor);
    }
  }

  & .fields {
    grid-area: fields;

    & .flash {
      margin-bottom: 2rem;
      border-radius: var(--borderRadius);
      padding: 1rem;
      text-align: center;
      border: 2px solid;

      &.error {
        border-color: var(--criticalColor);
        color: var(--criticalTextColor);
      }
    }

    & label {
      display: flex;
      align-items: center;
      font-family: "Roboto Condensed Regular", Arial;
      color: var(--secondaryTextColor);

      &[for]:before {
        content: "";
        display: block;
        margin-right: 0.5rem;
        width: 1.2rem;
        height: 0.8rem;
        background-color: var(--primaryTextColor);
        -webkit-mask: none no-repeat 50% 50% / contain;
        mask: none no-repeat 50% 50% / contain;
      }

      &[for="username"]:before {
        -webkit-mask-image: url("icons/user.svg");
        mask-image: url("icons/user.svg");
      }

      &[for="password"]:before, &[for="invite_token"]:before {
        -webkit-mask-image: url("icons/key.svg");
        mask-image: url("icons/key.svg");
      }
    }

    & input {
      margin-top: 10px;
      margin-bottom: 2rem;
    }

    & input:last-child {
      margin-bottom: unset;
    }
  }

  & footer {
    grid-area: actions;
    margin-top: 2rem;
    text-align: center;

    & a {
      color: var(--accentColor);

      &:hover {
        color: color-mix(in oklch, var(--accentColor), black 10%);
        text-decoration: underline;
      }
    }

    & button {
      margin-bottom: 2rem;
      padding: 10px 20px;
      width: 100%;
      font-family: "Roboto Bold", Arial;
      font-size: 1.1rem;
      background: var(--accentColor);
      color: var(--primaryTextColor);
      border-radius: 5px;
      transition: 0.2s ease-in-out;
      transition-property: background, opacity;

      &:hover, &:focus {
        background: color-mix(in oklch, var(--accentColor), black 10%);
      }
    }
  }

  & .fields, & footer {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }
}

#root {
  display: grid;
  grid-template-columns: 300px auto;
  min-height: 100%;

  & header {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "logo" "nav" "user";
    padding: 2rem 3rem;
    gap: 2rem;

    & h1 {
      grid-area: logo;
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        display: inline-block;
        width: 64px;
        height: 64px;
        margin-right: 1rem;
        vertical-align: middle;
        background-color: var(--primaryTextColor);
        -webkit-mask: url("icons/logo.svg") no-repeat 50% 50% / contain;
        mask: url("icons/logo.svg") no-repeat 50% 50% / contain;
      }

      & span.version {
        display: inline-block;
        font-size: 0.8rem;
        opacity: 0;
        color: var(--tertiaryTextColor);
        transition: opacity 100ms ease-in-out;
      }

      &:hover span.version {
        opacity: 1;
      }
    }

    & picture {
      position: relative;
      display: block;
      width: 100px;
      height: 100px;
      background-color: var(--primaryTextColor);
      -webkit-mask: url("icons/logo-mask.svg") no-repeat 50% 50% / 90%;
      mask: url("icons/logo-mask.svg") no-repeat 50% 50% / 90%;

      & img {
        width: inherit;
        height: inherit;
        object-fit: contain;
        transform-origin: 50%;
        transform: scale(0.78);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: inherit;
        height: inherit;
        background: url("icons/logo-mask.svg") no-repeat 50% 50% / contain;
        mix-blend-mode: screen;
      }
    }

    & nav {
      grid-area: nav;
      display: grid;
      grid-template-rows: auto;
      gap: 2rem;

      & li {
        font-size: 1.25rem;
        margin: 0.5rem 0;
      }

      & a {
        display: block;
        position: relative;
        padding-left: calc(24px + 1.25rem);

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: 24px;
          min-height: 24px;
          height: 100%;
          vertical-align: middle;
          background-color: var(--primaryTextColor);
        }

        &:hover {
          color: var(--secondaryTextColor);

          &::before {
            background-color: var(--secondaryTextColor);
          }
        }

        &.active {
          color: var(--accentColor);

          &::before {
            background-color: var(--accentColor);
          }
        }

        &.search::before {
          -webkit-mask: url("icons/search.svg") no-repeat 50% 50% / contain;
          mask: url("icons/search.svg") no-repeat 50% 50% / contain;
        }

        &.home::before {
          -webkit-mask: url("icons/home.svg") no-repeat 50% 50% / contain;
          mask: url("icons/home.svg") no-repeat 50% 50% / contain;
        }

        &.tv::before {
          -webkit-mask: url("icons/tv.svg") no-repeat 50% 50% / contain;
          mask: url("icons/tv.svg") no-repeat 50% 50% / contain;
        }

        &.movie::before {
          -webkit-mask: url("icons/movie.svg") no-repeat 50% 50% / contain;
          mask: url("icons/movie.svg") no-repeat 50% 50% / contain;
        }

        &.settings::before {
          -webkit-mask: url("icons/settings.svg") no-repeat 50% 50% / contain;
          mask: url("icons/settings.svg") no-repeat 50% 50% / contain;
        }
      }
    }

    & .user {
      grid-area: user;
      align-self: end;
      list-style: none;

      & picture {
        margin: 0 auto;
      }
    }
  }
}

main {
  padding: 2rem 0 2rem 2rem;

  & h2 {
    font-family: "Roboto Regular";
    font-size: 2.25rem;
  }
}

.horizontally-scrollable {
  position: relative;
  overflow-x: auto;
  min-height: calc((150px * 1.5) + (1.25rem * 4));

  & ul {
    position: absolute;
    list-style: none;
    display: inline-grid;
    grid-auto-flow: column;
    gap: 2rem;
  }
  & img {
    width: 150px;
    height: auto;
    aspect-ratio: 1000 / 1500 auto;
  }
}
