[package]
name = "dim"
version = "0.3.0-rc3"
build = "src/build.rs"
authors = ["Valerian G. <valerian.garleanu@pm.me>"]
edition = "2018"

[features]
default = ["sqlite"]
null_auth = ["auth/null_auth"]

# the build script usually will enable this if `yarn` is installed.
# If enabled explicitly, the build script will panic if something went wrong.
embed_ui = []
postgres = ["database/postgres"]
sqlite = ["database/sqlite"]

[dependencies]
serde = { version = "^1.0.125", default-features = false, features = ["derive", "std"] }
serde_derive = "^1.0.125"
serde_json = "^1.0.64"

database = { path = "../database", default-features = false, optional = true }
events = { path = "../events" }
auth = { path = "../auth" }
nightfall = { git = "https://github.com/vgarleanu/nightfall", tag = "0.3.3", features = ["cuda"] }

lazy_static = "1.4.0"
walkdir = "2.3.1"
rand = "0.7.3"

slog = "2.5.2"
slog-term = "2.5.0"
slog-json = "2.3.0"
slog-async = "2.5.0"

chrono = "0.4.11"
err-derive = "^0.3.0"
rust-embed = "^5.9.0"
torrent-name-parser = "0.5.0"
reqwest = { version = "0.11.0", features = ["json", "default-tls"], default-features = false }
notify = "4.0.15"
cfg-if = "1.0.0"
once_cell = "1.5.2"
bytes = "1.0.1"
tokio = { version = "1", features = ["rt", "signal"] }
uuid = { version = "0.8.2", features = ["v4"] }
futures = "0.3.14"
xtra = { version = "0.5.1", features = ["with-tokio-1"] }
xtra_proc = "0.1.0"
async-trait = "0.1.50"
async-recursion = "0.3.2"
anitomy = "0.1.2"
warp = { version = "0.3.1", features = ["tls", "tokio-rustls"] }
http = "^0.2.3"
structopt = "0.3.21"
toml = "0.5.8"
sqlx = "=0.5.5"

priority-queue = "1.2.0"

[build-dependencies]
fs_extra = "1.1.0"

[target.'cfg(unix)'.dependencies]
nix = "0.20.0"

[target.'cfg(windows)'.dependencies]
zip = "0.5.10"
