@import "../mixins.scss";

.banner {
    .image-wrapper {
        position: relative;
        overflow: hidden;

        img {
            @include mask-image(linear-gradient(to bottom, #000000 50%, transparent 100%));
            @include transition(object-position 0.3s ease-in-out);
            @include object-fit(cover);
            height: 55vh;
            width: 100%;
        }

        // OVERLAY SIDE SHADOWS
        &::after {
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
            background:
                linear-gradient(90deg, #1a1a1a, transparent 60%),
                linear-gradient(-90deg, #1a1a1a, transparent 40%);
        }
    }

    // YEAR + GENRE
    .extras {
        @include display(flex);
        @include align-items(center);
        top: 10%;
        left: 90px;
        position: absolute;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        // separator
        svg {
            margin: 0 10px;
            font-size: 0.4em;
        }


        // NOT YEAR
        a:not(:first-child) {
            margin: 0 15px 0 0;
        }
    }

    .info {
        @include transform(translate(0, -30%));
        width: 450px;
        position: absolute;
        left: 90px;
        top: 50%;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

        h1 {
            font-size: 2em;
            margin: 0;
        }

        .description {
            margin: 15px 0;
        }

        // BANNER CAPTION & DESCRIPTION
        h5, p {
            margin: 10px 0;
        }

        // BANNER DESCRIPTION
        p {
            color: #bfbfbf;
        }
    }

    // PLAY BUTTON
    .play-btn {
        @include transition(filter 0.3s ease-in-out);
        @include filter(saturate(0.7));
        display: inline-block;
        font-family: "Roboto Black";
        padding: 7px 30px;
        border-radius: 1vh;
        text-shadow: none;
        outline: none;
        cursor: pointer;

        &:focus,
        &:hover {
            @include filter(saturate(1));
        }

        // ICON
        svg {
            margin-left: 5px;
            font-size: 0.9em;
        }
    }

    .placeholder:hover {
        background-position: 100% 100%;
    }

}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (max-width: 2560px) and (max-height: 1440px) {
    .banner img {
        -o-object-position: 30% 30%;
           object-position: 30% 30%;
    }
}

@media only screen and (max-width: 720px) and (max-height: 1440px) {
    .banner img {
        -o-object-position: 50%;
           object-position: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .banner {
        .extras {
            left: 30px;
        }
        .info {
            left: 30px;
        }
    }
}

@media only screen and (max-width: 651px) {
    .banner {
        // OVERLAY SIDE SHADOWS
        .image-wrapper::after {
            background:
                linear-gradient(90deg, #1a1a1a, transparent 80%),
                linear-gradient(-90deg, #1a1a1a, transparent 80%);
        }

        .info {
            width: 350px;
        }

        .progress-bar {
            display: none;
        }
    }
}
