@import "../mixins.scss";

.banner-wrapper {
    @include animation(bannerAppear 0.3s ease-in-out);
    position: relative;
    z-index: 0;

    .crumbs {
        @include display(flex);
        position: absolute;
        top: 10%;
        right: 90px;
        z-index: 1;

        // CRUMB
        > span {
            @include transition(transition 0.3s ease-in-out);
            @include box-shadow(2px 4px 3px rgba(0, 0, 0, 0.3));
            margin-left: 10px;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            border: solid 3px #ffffff;

            &:hover {
                @include transform(scale(1.1));
                cursor: pointer;
            }

            &.active {
                @include animation(crumbActive 0.5s ease-out);
                background: #ffffff;
            }
        }
    }

    .pages {
        height: 100%;

        .banner {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
        }

        .active, .hide {
            display: contents;
        }

        // ! FIX LATER | causes dodgy on load animation.
        // .hide .banner {
        //     @include animation(onHideBanner 0.3s ease-in-out forwards);

        //     img {
        //         @include animation(onHideBannerImage 0.3s ease-in-out forwards);
        //     }
        // }

        .active .banner {
            @include animation(onActiveBanner 0.7s ease-in-out forwards);
            z-index: 1;

            img {
                @include animation(onActiveBannerImage 0.7s ease-in-out forwards);
            }
        }
    }

}

/*
    * == KEYFRAMES ==
*/

@include keyframes(bannerAppear) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(onActiveBannerImage) {
    0% {
        @include transform(scale(1.1));
    }
    100% {
        @include transform(scale(1));
    }
}

@include keyframes(onHideBannerImage) {
    0% {
        @include transform(scale(1));
    }
    100% {
        @include transform(scale(1.05));
    }
}

@include keyframes(onHideBanner) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include keyframes(onActiveBanner) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(crumbActive) {
    0% {
        @include transform(scale(1));
    }
    50% {
        @include transform(scale(0.6));
    }
    100% {
        @include transform(scale(1));
    }
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (max-width: 800px) {
    .banner-wrapper {
        .crumbs {
            right: 30px;
        }
    }
}

@media only screen and (max-width: 651px) {
    .banner-wrapper .crumbs {
        top: unset;
        bottom: 0;
    }
}
