@-webkit-keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.card-popup {
    position: absolute;
    top: -20px;
    height: 360px;
    max-height: 360px;
    min-height: 360px;
    width: 450px;
    max-width: 500px;
    min-width: 500px;
    background: transparent;
    pointer-events: none;
    z-index: 1;
    display: grid;
    grid-gap: 1vh;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-template-areas:
        "header"
        "content";
    font-family: "Roboto Black";
    -webkit-animation: appear 0.5s ease-in-out;
            animation: appear 0.5s ease-in-out;

    .clipped {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #333333;
        z-index: -1;
        pointer-events: auto;
    }

    section {
        pointer-events: auto;
    }

    /*
        * == HEADER ==
    */

    .header {
        padding: 1vh 3vh;
        -webkit-clip-path: unset;
                clip-path: unset;
        border-radius: 1vh;
        background: #4d4d4d;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 60%;
        width: 80%;

        h1 {
            margin-right: 2vh;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .rating {
        display: inline-grid;
        grid-template-areas: "1 2 3 4";
        grid-gap: 10px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #f2f2f2;

        img {
            width: 20px;

            /* IMDB LOGO */
            &:nth-child(1) {
                width: 30px;
            }
        }
    }

    /*
        * == CONTENT ==
    */

    .content {
        display: grid;
        grid-template-areas:
            "description"
            "info"
            "seperator"
            "footer";
            grid-gap: 2vh;

        .description {
            h4 {
                margin: 0;
                margin-bottom: 5px;
            }
            p {
                margin: 0;
                font-family: "Roboto Regular";
            }
        }

        .info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            text-align: center;

            .tags {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                /* TAGS */
                p {
                    margin: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-right: 1vh;
                    background: #f7931e;
                    padding: 0.5vh 1vh;
                    border-radius: 10vh;
                }

                // TAG > MAIN GENRE
                p:nth-child(1) {
                    width: 120px;
                }

                // TAG > YEAR
                p:nth-child(2) {
                    width: 50px;
                }

            }
            a {
                svg {
                    opacity: 0;
                    -webkit-transform: translateX(100%) rotate(90deg);
                            transform: translateX(100%) rotate(90deg);
                    -webkit-transition: 0.3s ease-in-out;
                    transition: 0.3s ease-in-out;
                    -webkit-transition-property: -webkit-transform opacity;
                    transition-property: -webkit-transform opacity;
                    transition-property: transform opacity;
                    transition-property: transform opacity, -webkit-transform opacity;
                }

                &:hover svg {
                    opacity: 1;
                    -webkit-transform: translateX(0) rotate(0);
                            transform: translateX(0) rotate(0);
                }
            }

        }

        /*
            * == FOOTER ==
        */

        .footer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;

            p {
                margin: 0;
            }

            a {
                padding: 1vh 3vh;
                background: #f7931e;
                border-radius: 1vh;
                -webkit-transition: background 0.3s ease-in-out;
                transition: background 0.3s ease-in-out;

                &:hover {
                    background: #f9b53f;
                }
            }
        }

        .length {
            text-align: center;

            // LENGTH VALUE
            p:nth-child(1) {
                margin-bottom: 5px;
                letter-spacing: 1px;
            }

            /* LENGTH HINT */
            p:nth-child(2) {
                color: #666666;
                font-size: 0.7em;
            }
        }

        /* ICON */
        svg {
            margin: 0 5px 0 5px;
            font-size: 0.9em;
        }

        /*
            * == OTHER ==
        */

        .separator {
            width: 100%;
        }
    }

}

