.card-popup {
    max-height: 400px;
    max-width: 500px;
    box-sizing: border-box;
    padding: 2vh 3vh;
    background: #333333;
    font-family: "Roboto Black";
    border-radius: 1vh;
    position: relative;
}

.card-popup section {
    margin: 1vh 0;
    /* background: red !important; */
}

/*
    * == HEADER ==
*/

.card-popup .header {
    border-radius: 1vh;
    background: #4d4d4d;
    padding: 1vh 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-popup .rating {
    display: inline-grid;
    grid-template-areas: "1 2 3 4";
    grid-gap: 10px;
    align-items: center;
    color: #f2f2f2;
}

.card-popup .rating img {
    width: 20px;
}

/* IMDB LOGO */
.card-popup .rating img:nth-child(1) {
    width: 30px;
}

/*
    * == MAIN ==
*/

/* DESCRIPTION HEADING */
.card-popup .main > h4 {
    margin: 2vh 0 0 0;
}

/* DESCRIPTION */
.card-popup .main > p {
    margin: 0.5vh 0 0 0;
    font-family: "Roboto Regular";
}

.card-popup .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-popup .tags {
    display: flex;
}

.card-popup .tags > p {
    margin-right: 1vh;
    background: #f7931e;
    padding: 0.5vh 1vh;
    border-radius: 10vh;
}

/* TRAILER */
.card-popup .info a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* TRAILER ICON */
.card-popup .info a i {
    font-size: 0.9em;
}

.card-popup .separator {
    width: 100%;
}

/*
    * == FOOTER ==
*/

.card-popup .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-popup .length {
    text-align: center;
}

/* LENGTH HINT */
.card-popup .length > p:nth-child(2) {
    color: #666666;
}

.card-popup button {
    display: flex;
    align-items: center;
    font-family: "Roboto Black";
    border: none;
    color: #ffffff;
    padding: 1.5vh 5vh;
    background: #f7931e;
    border-radius: 1vh;
    outline: none;
    transition: background 0.3s ease-in-out;
}

.card-popup button:hover {
    background: #f9b53f;
    cursor: pointer;
}

/* ICON */
.card-popup i {
    margin: 0 5px 0 5px;
    font-size: 0.5em;
}