.card {
    height: 320px;
    width: 200px;
    text-align: center;
}

.card img {
    display: block;
    height: 320px;
    width: 200px;
    object-fit: cover;
    border-radius: 0.5vh;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
    transition-property: opacity, box-shadow;
    box-shadow: #ffffff33 0 0 50px 0px;
}

.card h5 {
    margin-top: 1vh;
}

.card:hover img {
    opacity: 1;
    box-shadow: #ffffff44 0 0 50px 0px;

}