@import "../mixins.scss";

.card_list {
    margin: 50px 90px;
    z-index: 1;
    position: relative;
    pointer-events: none;

    h1 {
        text-transform: uppercase;
        margin: 0;
    }

    > section {
        pointer-events: all;
        margin-bottom: 10vh;

        .placeholder-name {
            @include display(flex);
            @include align-items(center);

            .placeholder-text {
                margin-right: 10px;
            }
        }
    }

    .floating-bar {
        @include display(flex);
        @include justify-content(space-evenly);
        @include align-items(center);
        @include transition(0.3s ease-in-out);
        position: fixed;
        bottom: 1%;
        right: 1%;
        background: #444444;
        border-radius: 10px;
        padding: 5px;
        z-index: 1;
        text-align: center;
        transition-property: bottom, right, transform;

        a {
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
            @include transition(background 0.3s ease-in-out);
            height: 40px;
            width: 40px;
            border-radius: 50%;

            &:hover {
                background: #666666;
            }
        }
    }
}

.cards {
    @include justify-content(space-between);
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 100px 40px;
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (max-width: 800px) {
    .card_list {
        margin: 50px 30px;
    }

    .cards {
        grid-template-columns: repeat(auto-fill, 180px);
        grid-gap: 100px 20px;
    }
}