@import "../mixins.scss";

%card-popup {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include box-sizing(border-box);
    @include transition(width 0.3s ease-in-out);
    @include animation(CardPopupAppear 0.3s ease-in-out);
    position: absolute;
    top: -10px;
    height: 340px;
    width: 500px;
    background: transparent;
    pointer-events: none;
    z-index: 2;
    font-family: "Roboto Black";

    .clipped {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #333333;
        z-index: -1;
        pointer-events: auto;
    }

    section {
        pointer-events: auto;
    }

    .header {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
        width: 100%;

        h1 {
            font-size: 1.4em;
        }
    }

    .rating {
        @include display(flex);
        @include flex-direction(column);
        @include align-items(center);

        p {
            margin: 0;
            font-size: 0.7em;
        }

        img,
        p:not(:nth-child(2)) {
            padding: 4px;
            z-index: 1;
            background: #333333;
        }

        p:nth-child(2) {
            margin: 5px 0;
            position: relative;
            font-size: 0.9em;

            &::after {
                content: "";
                border: 3px solid #f7931e;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                height: 40px;
                width: 40px;
                position: absolute;
            }
        }

        img {
            width: 30px;
        }
    }

    .content {
        display: grid;
        align-content: space-between;
        grid-template-areas:
            "description"
            "info"
            "seperator"
            "footer";
        grid-gap: 20px;

        .description {
            min-height: 80px;

            h4 {
                margin: 0;
                margin-bottom: 5px;
                font-family: "Roboto Bold";
            }

            p {
                margin: 0;
                font-family: "Roboto Thin";
            }
        }

        .info {
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);
            text-align: center;

            .tags {
                @include display(flex);

                /* TAG */
                p {
                    margin: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-right: 10px;
                    background: #f7931e;
                    padding: 5px 8px;
                    border-radius: 5px;
                    font-size: 0.9em;
                    font-family: "Roboto Bold";
                }

                // YEAR
                p:nth-child(1) {
                    width: 50px;
                }
            }

            .actions {
                svg {
                    margin-right: 5px;
                    cursor: pointer;
                }
            }
        }

        .footer {
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);

            // LENGTH + HINT
            p {
                margin: 0;
            }

            // PLAY BUTTON
            a {
                @include display(flex);
                @include align-items(center);
                @include filter(saturate(0.7));
                @include transition(filter 0.3s ease-in-out);
                background: #555555;
                border-radius: 5px;
                overflow: hidden;
                pointer-events: all;

                &:hover {
                    @include filter(saturate(1));
                    cursor: pointer;
                }

                // PLAY
                p {
                    padding: 7px 10px;
                    background: #f7931e;
                }

                // ICON
                svg {
                    font-size: 0.6em;
                }
            }
        }

        .length {
            text-align: center;

            // LENGTH VALUE
            p:nth-child(1) {
                margin-bottom: 5px;
                letter-spacing: 1px;
            }

            /* LENGTH HINT */
            p:nth-child(2) {
                color: #666666;
                font-size: 0.7em;
            }
        }

        /* ICON */
        svg {
            margin: 0 5px 0 5px;
            font-size: 0.9em;
        }

        .separator {
            width: 100%;
        }
    }
}

.hideCardPopup {
    @include animation(CardPopupHide 0.3s ease-in-out forwards);
}

.card-popup-right {
    @extend %card-popup;
    @include filter(drop-shadow(-5px 0 10px #111111));
    left: 80%;
    right: unset;
    padding: 0 50px 0 60px;

    .clipped {
        clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
        border-radius: 0 10px 10px 0;
        border-right: 4px solid #555555;
    }
}

.card-popup-left {
    @extend %card-popup;
    @include filter(drop-shadow(5px 0 10px #111111));
    left: unset;
    right: 50%;
    padding: 0 60px 0 50px;

    .clipped {
        clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
        border-radius: 10px 0 0 10px;
        border-left: 4px solid #555555;
    }
}

/*
    * == KEYFRAMES ===
*/

@include keyframes(CardPopupAppear) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(CardPopupHide) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*
    * == MEDIA QUERIES ===
*/

@media only screen and (max-width: 900px) {
	%card-popup {
        width: 210px !important;

        .header {
            display: block !important;
            text-align: center;
            font-size: 0.8em !important;
        }

        .content {
            padding: 0 !important;
            grid-gap: 10px;
        }

        .options,
        .separator,
        .description {
            display: none !important;
        }

        .tags {
            margin: 5px 0 !important;
            @include flex-direction(column);

            p {
                margin: 4px 0 !important;
            }
        }

        .footer {
            @include flex-direction(column !important);

            a {
                margin-top: 10px !important;
            }
        }
	}
}
