@import "../mixins.scss";

.card-wrapper {
    position: relative;

    &:hover {
        .card .image-wrapper {
            @include box-shadow(#ffffff 0 0 50px -20px);
        }
    }

    .card {
        height: 320px;
        width: 200px;
        text-align: center;
        border-radius: 10px;

        .image-wrapper {
            @include transition(box-shadow 0.3s ease-in-out);

            img {
                @include object-fit(cover);
                @include transition(transform 0.3s ease-in-out);
                @include animation(imageLoaded 1s ease-in);
                will-change: transform;
            }
        }

        img, div, .placeholder {
            height: 320px;
            width: 200px;
            border-radius: 10px;
        }

        img:-moz-loading {
            visibility: hidden;
        }

        p {
            @include transition(opacity 0.3s ease-in-out);
            margin-top: 1vh;
            text-transform: uppercase;
            font-size: 0.8em;
        }

        a {
            outline: none;

            &:focus .image-wrapper {
                @include box-shadow(#ffffff 0 0 50px -20px);
            }
        }

    }
}

/*
    * == KEYFRAMES ==
*/

@include keyframes(imageLoaded) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(cardGlow) {
    0% {
        @include box-shadow(#ffffff 0 0 50px);
    }
    50% {
        @include box-shadow(none);
    }
    100% {
        @include box-shadow(#ffffff 0 0 50px);
    }
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (max-width: 800px) {
    .card-wrapper {
        .card {
            height: 300px;
            width: 180px;

            img, div, .placeholder {
                height: 300px;
                width: 180px;
            }
        }
    }
}