::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #333333;
}

::-webkit-scrollbar-thumb {
    background: #f7931e;
}


main {
    grid-area: main;
    background: #1a1a1a;
    margin: 0;
    min-width: 500px;
    box-sizing: border-box;
    min-height: 100vh;
    color: #ffffff;
    display: grid;
    grid-template-areas:
        "banner"
        "libraries";
    grid-template-rows: 40vh auto;

    /*
        * == BANNER ==
    */

    .banner {
        grid-area: banner;
        position: relative;
        text-align: right;

        img {
            min-height: 40vh;
            width: 100%;
            object-fit: cover;
            mask-image: linear-gradient(to bottom, #000000 20%, #1a1a1a00 100%);
        }

        .info {
            text-align: left;
            width: 400px;
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(0, -40%);
            text-shadow: #000000 0 0 15px;

            h1 {
                font-size: 2em;
                margin: 0;
            }

            .desc {
                margin: 2vh 0;
            }

            h5, p {
                margin: 1vh 0;
            }

            p {
                color: #b3b3b3;
            }
        }

        button {
            display: flex;
            align-items: center;
            font-family: "Roboto Black";
            border: none;
            color: #eee7e7;
            padding: 1vh 3vh;
            background: #f7931e;
            border-radius: 1vh;
            outline: none;
            transition: background 0.3s ease-in-out;

            &:hover {
                background: #f9b53f;
                cursor: pointer;
            }
        }

        /* ICON */
        svg {
            margin-left: 5px;
            font-size: 0.9em;
        }
    }

    /*
        * == LIBRARY ==
    */

    .libraries {
        margin: 5vh 0;
        grid-area: libraries;
        padding: 0 5%;
        z-index: 1;

        h1 {
            margin: 0;
        }
    }

    .cards {
        margin: 5vh 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        /* grid-template-areas: "1 2 3 4 5 6"; */
        grid-gap: 10vh 5vh;
    }
}
