::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #333333;
}

::-webkit-scrollbar-thumb {
    background: #f7931e;
}


main {
    grid-area: main;
    background: #1a1a1a;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    color: #ffffff;
}

/*
    * == BANNER ==
*/

main .banner {
    position: relative;
}

main .banner img {
    object-fit: cover;
    width: 100%;
    mask-image: linear-gradient(to bottom, #000000 20%, #1a1a1a00 90%);
}

main .banner .info {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
}

main .banner .info h1 {
    font-size: 2em;
    margin: 0;
}

main .banner .info .desc {
    margin: 2vh 0;
}

main .banner .info h5,
main .banner .info p {
    margin: 1vh 0;
}

main .banner .info p {
    color: #b3b3b3;
}

main .banner button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto Black";
    border: none;
    color: #ffffff;
    padding: 0.5vh 2.5vh;
    background: #f7931e;
    border-radius: 1vh;
    outline: none;
    transition: background 0.3s ease-in-out;
}

main .banner button:hover {
    background: #f9b53f;
    cursor: pointer;
}

/* ICON */
main .banner i {
    margin-left: 5px;
    font-size: 0.5em;
}

/*
    * == LIBRARY ==
*/

main .libraries {
    transform: translateY(-55px);
    padding: 0 5%;
}

main .libraries h1 {
    margin: 0;
}

main .cards {
    margin: 5vh 0;
    display: grid;
    grid-template-areas: "1 2 3 4 5";
    grid-gap: 10vh 5vh;
}