main {
    background: #1a1a1a;
    margin-left: 30vh;
    min-width: 500px;
    -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
         box-sizing: border-box;
    min-height: 100vh;
    color: #ffffff;
    display: grid;
    grid-template-areas:
        "banner"
        "library";
    grid-template-rows: 40vh auto;

    /*
        * == LIBRARY ==
    */

    .library {
        margin: 5vh 0;
        padding: 0 5%;
        z-index: 1;

        h1 {
            text-transform: uppercase;
            margin: 0;
        }
    }

    .cards {
        margin: 5vh 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-gap: 10vh 5vh;
    }
}