.progress-bar {
    position: absolute;
    top: 60%;
    right: 5%;
    text-shadow: #000000 0 0 15px;
    text-align: center;
    display: grid;

    p {
        margin: 0;
    }

    /* ICON */
    svg {
        font-size: 0.5em !important;
        margin: 0 1vh;
        color: #e70;
    }

    /* season + episode */
    .s-e {
        margin: 0 auto;
        font-family: "Roboto Black";
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                -moz-box-align: center;
             align-items: center;
    }

    .progress {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                -moz-box-align: center;
             align-items: center;

        div {
            margin: 0 1vh;
            display: inline-grid;
            text-align: center;

            /* VALUE */
            p:nth-child(1) {
                font-family: "Roboto Black";
                font-size: 1.3em;
            }

            /* UNIT */
            p:nth-child(2) {
                font-family: "Roboto Condensed Regular";
            }
        }
    }


    /*
        * == PROGRESS BAR ==
    */

    progress {
        height: 5px;
        display: block;
        border: none;
        -webkit-appearance: none;
        -webkit-box-shadow: #000000 0 0 15px;
                box-shadow: #000000 0 0 15px;
        border-radius: 5px;

        /* BAR */
        &::-moz-progress-bar {
            background: #f7931e;
        }

        &::-webkit-progress-bar {
            background: #ffffff;
            border-radius: 50px;
        }

        /* VALUE */
        &::-webkit-progress-value {
            border-radius: 50px;
            background: #f7931e;
        }
    }
}
