@import "../mixins.scss";

.banner-progress-bar {
    position: absolute;
    bottom: 0;
    right: 90px;
    display: grid;
    text-shadow: #000000 0 0 20px;

    p {
        margin: 0;
    }

    // SEPARATOR
    svg {
        margin: 0 5px !important;
        font-size: 0.5em !important;
    }

    // SEASON AND EPISODE
    .s-e {
        @include display(flex);
        @include justify-content(space-evenly);
        @include align-items(center);
        margin: 0 auto;
        font-family: "Roboto Black";
    }

    .progress {
        @include display(flex);
        @include align-items(center);

        // CURRENT AND DURATION
        div {
            text-align: center;

            /* VALUE */
            p:nth-child(1) {
                font-family: "Roboto Black";
                font-size: 1.3em;
            }

            /* UNIT */
            p:nth-child(2) {
                font-size: 0.8em;
                font-family: "Roboto Black";
            }
        }

        .bar {
            @include box-shadow(#000000 0 0 20px);
            margin: 0 10px;
            height: 4px;
            width: 175px;
            background: #ffffff;
            -webkit-appearance: none;
            border-radius: 4px;
            position: relative;
            overflow: hidden;

            /* VALUE */
            .progress-fill {
                position: absolute;
                left: 0;
                height: 4px;
                border-radius: 4px;
                transition: width 0.3s ease-in-out;
            }
        }
    }

}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (max-width: 651px) {
    .banner-progress-bar {
        display: none;
    }
}