@import "../mixins.scss";

.sidebar {
    @include box-shadow(0 0 10px 5px #00000055);
    @include transition(width .3s ease-in-out);
    @include animation(appear .3s ease-in-out);
    min-height: 100vh;
    height: 100%;
    width: 300px;
    position: fixed;
    background: linear-gradient(315deg, #333333 0%, #363636 100%);
    z-index: 2;

    &.show {
        @include animation(showSidebar .3s ease-in-out);

        .toggle {
            @include animation(sidebarToggleOff 0.3s ease-in-out forwards);
        }
    }

    &.hide {
        @include box-shadow(0 0 10px 5px #00000000);
        @include animation(hideSidebar 0.3s ease-in-out forwards);

        .toggle {
            @include animation(sidebarToggleOn 0.3s ease-in-out forwards);
        }
    }

    .placeholder-text {
        background: #4d4d4d;
    }

    .toggle {
        @include transition(0.3s ease-in-out);
        transition-property: transform, background;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #444444;
        position: absolute;
        bottom: 2%;
        right: 10%;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        &:hover {
            background: #555555;
        }
    }

    section {
        @include transition(.3s ease-in-out);
        margin: 50px auto;
        width: 80%;
        transition-property: color, margin;

        header {
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);
            margin-bottom: 10px;

            //  ADD BUTTON
            button {
                @include transition(0.2s ease-in-out);
                color: #ffffff;
                opacity: 0;
                padding: 2px 5px;
                border-radius: 10px;
                background: transparent;
                transition-property: background, opacity;

                &::-moz-focus-inner {
                    border: 0;
                }

                &:focus,
                &:hover {
                    background: #666666;
                }

                &:focus {
                    opacity: 1;
                }
            }

        }

        &:hover {
            color: rgba(0, 0, 0, 0.3);
            header button {
                opacity: 1;
            }
        }
    }

    .main-part {
        display: grid;
        grid-gap: 15px;
    }

    // CURRENT ROUTE
    .active {
        background: #555555;

        &:focus,
        &:hover {
            background: #666666 !important;
        }
    }

    h6,
    h4 {
        font-family: "Roboto Black";
        margin: 0;
        color: #808080;
    }

    // ITEM
    .list {
        height: 120px;
        overflow-y: auto;

        .horizontal-err {
            margin: 0 auto;
        }

        .item-wrapper {
            @include align-items(center);
            @include animation(appear 0.3s ease-in-out);
            height: 40px;
            display: grid;
            grid-template-columns: auto 20px 1px;
            text-align: center;
            grid-gap: 15px;

            &:hover {
                button {
                    opacity: 1;
                }
            }

            .placeholder {
                margin-top: 5px;
                height: 30px;
                width: 100%;
                background: #4d4d4d;
                border-radius: 10px;
            }

            // ITEM
            a:nth-child(1) {
                @include align-items(center);
                @include justify-content(left);
                @include transition(0.1s ease-in-out);
                overflow: hidden;
                display: grid;
                grid-gap: 10px;
                height: 100%;
                grid-template-columns: 40px auto;
                border-radius: 10px;
                transition-property: padding, background, transform, font-size;
            }

            // DELETE BUTTON
            button {
                @include transition(0.2s ease-in-out);
                font-family: "Roboto Black";
                opacity: 0;
                padding: 2px 5px;
                border-radius: 10px;
                background: transparent;
                color: #ff6961;
                transition-property: background, opacity;
                background: #222222;

                &::-moz-focus-inner {
                    border: 0;
                }

                &:hover {
                    background: #444444;
                }

                &:focus {
                    opacity: 1;
                }
            }
        }

        > div a {
            outline: none;

            &:focus,
            &:hover {
                background: #222222;
            }
        }

        // ITEM ICON
        .item-wrapper-icon {
            margin: 0 auto;
        }

        // ITEM NAME
        .item-wrapper-name {
            margin: 0;
            padding: 10px 0;
        }
    }
}

@include keyframes(showSidebar) {
    0% {
        @include transform(translateX(-100%));
    }
    100% {
        @include transform(translateX(0));
    }
}

@include keyframes(hideSidebar) {
    0% {
        @include transform(translateX(0));
    }
    100% {
        @include transform(translateX(-100%));
    }
}

@include keyframes(sidebarToggleOn) {
    0% {
        @include transform(translateX(0));
        right: 10%;
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        @include transform(rotate(180deg));
        right: -60px;
        opacity: 1;
    }
}

@include keyframes(sidebarToggleOff) {
    0% {
        @include transform(rotate(180deg));
        right: -60px;
        opacity: 1;

    }
    50% {
        opacity: 0;
    }
    100% {
        @include transform(rotate(360deg));
        right: 10%;
        opacity: 1;
    }
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (max-width: 1080px) {
    .sidebar {
        width: 150px;
        text-align: center;

        .placeholder-text {
            width: 75px;
        }

        .main-part {
            .separator {
                display: none;
            }

            .profile {
                @include flex-direction(column);

                .profile-icon {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        }

        section {
            margin: 30px auto !important;

            header button {
                display: none !important;
            }
        }

        .list {
            height: 240px !important;

            .item-wrapper {
                height: 80px;
            }
        }

        .item-wrapper {
            grid-template-columns: auto !important;
            grid-gap: 0 !important;

            &-name {
                padding: 10px 0 0 0 !important;
            }

            button {
                display: none !important;
            }

            // ITEM ICON
            a:nth-child(1) {
                padding: 10px 0 !important;
                display: block !important;
            }
        }
    }
}
