.sidebar {
    grid-area: sidebar;
    height: 100%;
    width: 30vh;
    position: fixed;
    background: #333333;
    -webkit-box-shadow: 0 0 10px 5px #000000aa;
            box-shadow: 0 0 10px 5px #000000aa;
    z-index: 1;

    section {
        margin: 5vh auto;
        min-height: 7%;
        width: 80%;
        position: relative;
        text-align: left;

        .header {
            margin-bottom: 1vh;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-box;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    -moz-box-align: center;
                 align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    -moz-box-pack: justify;
                 justify-content: space-between;

            a {
                opacity: 0;
                padding: 0 5px;
                border-radius: 1vh;
                background: transparent;
                -webkit-transition: 0.2s ease-in-out;
                transition: 0.2s ease-in-out;
                -webkit-transition-property: background, opacity;
                transition-property: background, opacity;

                &:hover {
                    background: #666666;
                }
            }

        }

        &:hover {
            .header a {
                opacity: 1;
            }
        }
    }

    .active {
        background: #555555;
    }

    h6,
    h4 {
        font-family: "Roboto Black";
        margin: 0;
        color: #808080;
    }

    /* ITEM */
    .list {
        .item-wrapper {
            display: grid;
            grid-template-columns: auto 20px;
            text-align: center;
            grid-gap: 15px;
            -webkit-box-align: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            // ITEM
            a:nth-child(1) {
                overflow: hidden;
                display: grid;
                grid-gap: 10px;
                grid-template-columns: 40px auto;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        -moz-box-align: center;
                     align-items: center;
                -webkit-box-pack: left;
                    -ms-flex-pack: left;
                        -moz-box-pack: left;
                     justify-content: left;
                border-radius: 1vh;
                -webkit-transition: 0.1s ease-in-out;
                transition: 0.1s ease-in-out;
                -webkit-transition-property: padding, background, font-size, -webkit-transform;
                transition-property: padding, background, font-size, -webkit-transform;
                transition-property: padding, background, transform, font-size;
                transition-property: padding, background, transform, font-size, -webkit-transform;
            }

            // DELETE BUTTON
            a:nth-child(2) {
                font-family: "Roboto Black";
                opacity: 0;
                padding: 0 5px;
                border-radius: 1vh;
                background: transparent;
                color: #ff6961;
                -webkit-transition: 0.2s ease-in-out;
                transition: 0.2s ease-in-out;
                -webkit-transition-property: background, opacity;
                transition-property: background, opacity;
                background: #222222;

                &:hover {
                    background: #444444;
                }
            }

            &:hover a:nth-child(2) {
                opacity: 1;
            }
        }

        > div a:hover {
            background: #222222;
        }

        /* ITEM ICON */
        svg {
            margin: 0 auto;
        }

        /* ITEM NAME */
         p {
            margin: 0;
            padding: 1vh 0;
        }
    }

    /*
        * == PROFILE ==
    */

    .profile {
        margin-bottom: 2vh;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                -moz-box-pack: left;
             justify-content: left;
        grid-gap: 10px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                -moz-box-align: center;
             align-items: center;
    }

    .icon-outer {
        height: 35px;
        width: 35px;
        border-radius: 35px;
        border-color: #ffffff;
        border-width: 2px;
        border-style: solid;
    }

    .icon-inner {
        height: 29px;
        width: 29px;
        background-color: #f7931e;
        border-radius: 29px;
        margin: auto;
        position: relative;
        top: 9%;
    }

    .profile-name {
        font-family: "Roboto Condensed Regular";
        color: #ffffff;
    }

    .profile-hours {
        font-family: "Roboto Regular";
        color: #808080
    }

    /*
        * == SEARCH ==
    */

    .search {
        margin: 2vh auto;
    }

    .search-box {
        background: #4d4d4d;
        border-radius: 1vh;
        padding: 0 1vh;
        overflow: hidden;
        display: grid;
        grid-template-areas: "input button";
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                -moz-box-pack: space-evenly;
             justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                -moz-box-align: center;
             align-items: center;

        input {
            padding: 1vh 0;
            grid-area: input;
            background: #4d4d4d;
            border: none;
            padding: 1vh;
            outline: none;
            color: #ffffff;
            width: 85%;
            font-family: "Roboto Black";
        }

        button {
            height: 30px;
            width: 30px;
            grid-area: button;
            outline: none;
            border: none;
            border-radius: 100%;
            background: #666666;
            color: #ffffff;
            -webkit-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out;

            &:hover {
                background: #999999;
                cursor: pointer;
            }
        }
    }

    /*
        * == OTHER ==
    */

    .separator {
        width: 80%;
    }
}
