@import "../../mixins.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 150px;
  position: fixed;
  background: #3a3a3a;
  z-index: 2;
  box-shadow: 0 0 5px 2px #00000055;
  transition: width .3s ease-in-out;
  animation: appear .3s ease-in-out;

  &.show {
    animation: showSidebar .3s ease-in-out;

    .toggle {
      animation: sidebarToggleOff 0.3s ease-in-out forwards;
    }
  }

  &.hide {
    box-shadow: 0 0 10px 5px #00000000;
    animation: hideSidebar 0.3s ease-in-out forwards;

    .toggle {
      animation: sidebarToggleOn 0.3s ease-in-out forwards;
    }
  }

  .sectionsWrapper {
    padding: 2em 1em;
    overflow-y: auto;
  }

  section {
    transition: .3s ease-in-out;
    transition-property: color, margin;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: .5em;
    }
  }

  .main-part {
    display: grid;
    grid-gap: 1em;
  }

  h4 {
    font-family: "Roboto Bold";
    margin: 0;
    color: #808080;
  }

  .list {
    .item-wrapper {
      align-items: center;
      animation: appear 0.3s ease-in-out;
      display: grid;
      text-align: center;
      grid-gap: 15px;

      &:hover {
        button {
          opacity: 1;
        }
      }

      // list item
      a {
        display: grid;
        padding: 1em;
        gap: .5em;
        border-radius: 10px;
        align-items: center;
        transition: 0.1s ease-in-out;
        transition-property: padding, background, transform, font-size;

        &:focus,
        &:hover {
          background: #2a2a2a;
        }

        &.active {
          cursor: default;
          background: #5a5a5a;

          &:focus, &:hover {
            background: #5a5a5a;
          }
        }
      }

      // DELETE BUTTON
      button {
        display: none;
        transition: 0.2s ease-in-out;
        font-family: "Roboto Black";
        opacity: 0;
        padding: 2px 5px;
        border-radius: 10px;
        background: transparent;
        color: #ff6961;
        transition-property: background, opacity;
        background: #2a2a2a;

        &::-moz-focus-inner {
          border: 0;
        }

        &:hover {
          background: #4a4a4a;
        }

        &:focus {
          opacity: 1;
        }
      }
    }

    > div a {
      outline: none;

      &:focus,
      &:hover {
        background: #2a2a2a;
      }
    }

    // ITEM ICON
    .item-wrapper-icon {
      margin: 0 auto;
    }

    // ITEM NAME
    .item-wrapper-name {
      margin: 0;
      // padding: 10px 0;
    }
  }
}

@include keyframes(showSidebar) {
  0% {
    @include transform(translateX(-100%));
  }
  100% {
    @include transform(translateX(0));
  }
}

@include keyframes(hideSidebar) {
  0% {
    @include transform(translateX(0));
  }
  100% {
    @include transform(translateX(-100%));
  }
}

@include keyframes(sidebarToggleOn) {
  0% {
    @include transform(translateX(0));
    right: 1em;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    @include transform(rotate(180deg));
    right: -60px;
    opacity: 1;
  }
}

@include keyframes(sidebarToggleOff) {
  0% {
    @include transform(rotate(180deg));
    right: -60px;
    opacity: 1;

  }
  50% {
    opacity: 0;
  }
  100% {
    @include transform(rotate(360deg));
    right: 1em;
    opacity: 1;
  }
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (min-width: 1080px) {
  .sidebar {
    width: 300px;

    .sectionsWrapper {
      padding: 2em 1em;
    }

    .list .item-wrapper {
      grid-template-columns: auto 20px 1px;

      a {
        justify-content: left;
        grid-template-columns: 40px auto;
        padding: .8em .5em;
      }

      button {
        display: block;
      }
    }
  }
}