.modalNewMedia {
  scrollbar-width: thin;
  color: #ffffff;
  overflow-y: auto;
  padding: 10px;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    "heading"
    "fields"
    "mediaTypeSelection"
    "dirSelection"
    "options";
  gap: 0em;

  .heading {
    grid-area: heading;
    font-family: "Roboto Bold", Arial;

    h2 {
      margin-bottom: .5em;
    }
  }

  .fields {
    display: grid;
    align-items: center;
    gap: 1em;

    h3 {
      margin-bottom: .5em;
    }

    input {
      transition: border 0.3s ease-in-out;
      background: #3a3a3a;
      outline: none;
      height: 100%;
      width: 100%;
      padding: 0.5em;
      color: #ffffff;
      overflow: hidden;
      white-space: nowrap;
      border: solid 2px transparent;
      font-size: 16px;
      border-radius: 10px !important;

      &:focus {
        border: solid 2px transparent !important;
      }
    }
  }

  .options {
    grid-area: options;
    align-self: flex-end;
    display: grid;
    justify-content: flex-end;
    grid-template-columns: auto auto;
    gap: .5em;

    .page-controls svg {
      margin: 0;
    }

    button {
      filter: saturate(0.7);
      transition: filter 0.3s ease-in-out;
      font-family: "Roboto Bold", Arial;
      padding: .5em;
      border-radius: 10px;
      outline: none;
      background: #f7931e;
      color: #eee;
      font-size: 16px;

      &:focus,
      &:hover {
        filter: saturate(1);
      }

      &:nth-child(2) {
        color: #2a2a2a;
      }

      // cancel button
      &:nth-child(1) {
        transition: color 0.3s ease-in-out;
        background: transparent;

        &:focus,
        &:hover {
          color: #ff6961;
        }
      }
    }
  }
}

@media only screen and (min-width: 650px) {
  #modalNewLibrary {
    max-width: 600px;
  }

  .openNewLibrary {
    opacity: 0;
  }
}
