.videoActions {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  grid-area: actions;

  section {
    display: flex;
    align-items: center;
    width: 100%;

    &.middle {
      justify-content: center;
    }

    &.right {
      justify-content: flex-end;
    }
  }

  .volSliderWrapper {
    align-items: center;
    display: none;
    height: 100%;
    width: 80px;
    position: relative;

    &:hover .volSlider {
      height: 10px;
    }

    .volSlider {
      animation: appear 250ms ease-in-out;
      background: #2a2a2a;
      height: 5px;
      width: 100%;
      cursor: pointer;
      border-radius: 10px;
      overflow: hidden;
      transition: height 100ms ease-in-out;

      &.dragging-true::after {
        opacity: 1;
      }

      &::after {
        content: attr(data-currentVolume);
        position: absolute;
        left: calc(100% + .5em);
        top: 50%;
        opacity: 0;
        width: 0;
        transition: opacity 500ms ease-in-out;
        transform: translateY(-50%);
      }

      .vol {
        border-radius: 10px;
        height: 100%;
        background: #f7931e;
      }
    }
  }


  button, .filler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 5px;
    background: transparent;

    &:hover svg, &:focus svg {
      fill: #f7931e;
    }

    svg {
      fill: #eee;
      transition: fill 100ms ease-in-out;
      width: 16px;
    }

    &.trackActive-true {
      &:not(.menuActive-true):hover {
        background: #1a1a1a;
      }

      svg {
        fill: #f7931e;
      }
    }

    &.menuActive-true {
      background: #2a2a2a;
    }
  }

  .filler {
    flex: 1;
    grid-area: filler;
  }

  .volume {
    padding: 1em 1em 1em 0;
  }

  .fullscreen {
    padding: 1em 0 1em 1em;
  }
}

@media only screen and (min-width: 600px) {
  .videoActions {
    .volSliderWrapper {
      display: flex;
    }
  }
}
