.videoActions {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  grid-area: actions;

  .volumeSlider {
    display: none;
    animation: appear 250ms ease-in-out;
    width: 80px;
  }

  section {
    display: flex;
    width: 100%;

    &.middle {
      justify-content: center;
    }

    &.right {
      justify-content: flex-end;
    }
  }

  button, .filler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 5px;
    background: transparent;

    &:hover svg, &:focus svg {
      fill: #f7931e;
    }

    &.active-true {
      background: #2a2a2a;
    }

    svg {
      transition: fill 100ms ease-in-out;
    }


    svg {
      fill: #eee;
      width: 16px;
    }
  }

  .filler {
    flex: 1;
    grid-area: filler;
  }

  .volume {
    padding: 1em 1em 1em 0;
  }

  .fullscreen {
    padding: 1em 0 1em 1em;
  }
}

@media only screen and (min-width: 600px) {
  .videoActions {
    .volumeSlider {
      display: block;
    }
  }
}
