.videoActions {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto 1fr auto auto auto 1fr auto auto;
  grid-template-areas:
    "volume cc . backward playpause forward . filler fullscreen";
  justify-self: center;
  grid-area: actions;

  button, .filler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 5px;
    background: transparent;

    &:hover svg, &:focus svg {
      fill: #f7931e;
    }

    &.active-true {
      background: #2a2a2a;
    }

    svg {
      transition: fill 100ms ease-in-out;
    }


    svg {
      fill: #eee;
      width: 16px;
    }
  }

  .filler {
    grid-area: filler;
  }

  .volume {
    grid-area: volume;
    padding: 1em 1em 1em 0;
  }

  .cc {
    grid-area: cc;
  }

  .backward {
    grid-area: backward;
  }

  .playpause {
    grid-area: playpause;
  }

  .forward {
    grid-area: forward;
  }

  .fullscreen {
    grid-area: fullscreen;
    padding: 1em 0 1em 1em;
  }
}