@import "../mixins.scss";

.confirmationBox {
	@include box-shadow(#00000088 0 0 10px);
	@include transform(translate(-50%, -50%));
	@include box-sizing(border-box);
	@include transition(width 0.3s ease-in-out);
	position: fixed;
	top: 50%;
	left: 50%;
    min-width: 300px;
	background: #333333;
	color: #ffffff;
	border-radius: 10px;
	outline: none;
	padding: 20px;
    z-index: 1;

	// HEADING
	h3 {
        font-family: "Roboto Condensed Regular";
    }

    p {
        margin: 15px 0;
    }

    .options {
        @include display(flex);
		@include justify-content(flex-end);

        button {
            @include filter(saturate(0.7));
            @include transition(filter 0.3s ease-in-out);
            font-family: "Roboto Black";
            padding: 5px 10px;
            border-radius: 10px;
            outline: none;
            background: #f7931e;
            color: #ffffff;
            text-transform: uppercase;

            &:focus,
            &:hover {
                @include filter(saturate(1));
            }

            // ICON
            svg {
                margin-left: 5px;
                font-size: 0.9em;
            }
        }

        // CANCEL BUTTON
        .confirmationBoxCancel {
            @include transition(color 0.3s ease-in-out);
            background: transparent;

            &:focus,
            &:hover {
                color: #ff6961;
            }
        }
    }
}