@import "../mixins.scss";

.search-box {
    position: relative;
    z-index: 1;
}

.search-box-wrapper {
    background: #4d4d4d;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 100%;

    .input {
        @include box-sizing(border-box);
        @include transition(0.3s ease-in-out);
        background: #4d4d4d;
        outline: none;
        padding: 10px 20px;
        color: #ffffff;
        font-family: "Roboto Black";
        max-width: 190px;
        overflow: hidden;
        white-space: nowrap;
        height: 40px;
        transition-property: background, padding;
    }

    #placeholder {
        @include transform(translateY(-50%));
        @include animation(PlaceholderAppear 0.2s ease-in-out);
        content: "SEARCH";
        top: 50%;
        left: 10%;
        position: absolute;
        color: #808080;
        font-family: "Roboto Black";
        pointer-events: none;
        font-size: 0.9em;
    }

    input::placeholder,
    input::-moz-placeholder,
    input::-webkit-input-placeholder {
        color: #8d8d8d8d;
    }

    button {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        @include transform(translate(-50%, -50%));
        @include transition(background 0.3s ease-in-out);
        position: absolute;
        top: 50%;
        right: 0;
        height: 25px;
        width: 25px;
        border-radius: 30px;
        font-size: 0.7em;
        background: #666666;
        color: #ffffff;
        outline: none;

        &::-moz-focus-inner {
            border: 0;
        }

        &:focus,
        &:hover {
            background: #999999;
            cursor: pointer;
        }
    }
}

.search-box-search-for {
    @include box-sizing(border-box);
    @include box-sizing(SidebarSearchForAppear 0.2s ease-in);
    position: absolute;
    width: 100%;
    top: 120%;
    padding: 20px 10px;
    border-radius: 10px;
    background: #4d4d4d;
    color: #8d8d8d;
    font-size: 0.9em;
    font-family: "Roboto Condensed Bold";

    & > p {
        margin: 1px 0;
        padding: 0 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .horizontal-err {
        margin: 5px 10px;
    }

    #query {
        font-family: "Roboto Black";
        color: #ffffff;
    }

    .results {
        p {
            padding: 0 10px 10px 10px;
        }

        .result-list {
            @include display(flex);
            @include flex-direction(column);
            max-height: 150px;
            overflow: auto;
        }

        a {
            @include transition(background 0.3s ease-in-out);
            margin-right: 10px;
            padding: 8px 10px;
            background: transparent;
            border-radius: 10px;

            &:hover {
                background: #666666;
            }
        }
    }
}

/*
    * == KEYFRAMES ==
*/

@include keyframes(SidebarSearchBoxAppear) {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@include keyframes(SidebarSearchForAppear) {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@include keyframes(PlaceholderAppear) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*
    * == MEDIA QUERIES ==
*/

@media only screen and (max-width: 1080px) {
    .search-box-wrapper {
        .input {
            max-width: 75px;
            padding: 10px;
        }
    }

    .search-box-search-for {
        padding: 10px;
        text-align: center;

        p {
            margin-bottom: 5px;
            overflow: hidden;
            white-space: unset;
            text-overflow: ellipsis;
        }

        .horizontal-err {
            margin: 0;
        }
    }
}