{% extends "base.html" %}

{% block title %}Dashboard - Dim{% endblock %}

{% block content %}
<div id="root">
  <header>
    <h1>
      <span class="hidden">Dim</span> <span class="version">v0.0.0 e9b4665a</span>
    </h1>
    <nav>
      <ul>
        <li><a href="#" class="search">Search</a></li>
      </ul>
      <ul>
        <li><a href="#" class="home active">Dashboard</a></li>
        {% for library in libraries %}
        <li>
          <a href="/library/{{ library.id }}" class="{{ library.media_type }}">
            {{- library.name -}}
          </a>
        </li>
        {% endfor %}
      </ul>
      <ul>
        <li><a href="#" class="settings">Settings</a></li>
      </ul>
    </nav>
    <ul class="user">
      <li>
        <a href="#">
          {% if !avatar.is_empty() %}
          <picture>
            <img src="{{ avatar }}" alt="" width="100" height="100" />
          </picture>
          {% endif %}
          {{- username -}}
        </a>
      </li>
      <li><a href="/logout" class="logout">Logout</a></li>
    </ul>
  </header>

  <main>
    {% for library in libraries %}
    <h2>Recently Added in {{~ library.name -}}</h2>
    <div class="horizontally-scrollable {{ library.media_type }}">
      <ul>
        {% for s in 0..15 -%}
        {% if "{:?}"|format(library.media_type)|lower == "tv" %}
          <li>
            <a href="#" aria-label="Last Week Tonight with John Oliver, Season 10 Episode 21, December 17, 2023: Elon Musk">
              <img src="http://plex.lan/photo/:/transcode?width=240&height=360&minSize=1&upscale=1&url=%2Flibrary%2Fmetadata%2F19191%2Fthumb%2F1702970869%3FX-Plex-Token%3DTZLPRkLbLGSqnxvySqnc&X-Plex-Token=TZLPRkLbLGSqnxvySqnc" width="1000" height="1500" alt="" />
            </a>
            <div class="media_metadata">
              <a href="#" title="Last Week Tonight with John Oliver">
                Last Week Tonight with John Oliver
              </a>
              <a href="#" title="December 17, 2023: Elon Musk">
                December 17, 2023: Elon Musk
              </a>
              <span>
                <a href="#" title="Season 10">S10</a>
              </span>
              &CenterDot;
              <span>
                <a href="#" title="Episode 21">E21</a>
              </span>
            </div>
          </li>
        {% else %}
          <li>
            <a href="#" aria-label="Good Night Oppy, 2022">
              <img src="http://plex.lan/photo/:/transcode?width=480&height=720&minSize=1&upscale=1&url=%2Flibrary%2Fmetadata%2F27113%2Fthumb%2F1702721579%3FX-Plex-Token%3DTZLPRkLbLGSqnxvySqnc&X-Plex-Token=TZLPRkLbLGSqnxvySqnc" width="1000" height="1500" loading="lazy" alt="" />
            </a>
            <div class="media_metadata">
              <a href="#" title="Good Night Oppy">
                Good Night Oppy
              </a>
              <span title="2022">
                2022
              </span>
            </div>
          </li>
        {% endif %}
        {% endfor -%}
      </ul>
    </div>
    {% endfor %}
  </main>
</div>
{% endblock %}
