{% extends "base.html" %}

{% block title %}Dashboard - Dim{% endblock %}

{% block head %}
    <script async type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}

{% block content %}
<div id="root">
  <header>
    <h1>
      <span class="hidden">Dim</span> <span class="version">v0.0.0 e9b4665a</span>
    </h1>
    <nav>
      <ul>
        <li><a href="#" class="search">Search</a></li>
      </ul>
      <ul>
        <li><a href="#" class="home active">Dashboard</a></li>
        {% for library in libraries %}
        <li>
          <a href="/library/{{ library.id }}" class="{{ library.media_type }}">
            {{- library.name -}}
          </a>
        </li>
        {% endfor %}
      </ul>
      <ul>
        <li><a href="#" class="settings">Settings</a></li>
      </ul>
    </nav>
    <ul class="user">
      <li>
        <a href="#">
          {% if !avatar.is_empty() %}
          <picture>
            <img src="{{ avatar }}" alt="" width="100" height="100" />
          </picture>
          {% endif %}
          {{- username -}}
        </a>
      </li>
      <li><a href="/logout" class="logout">Logout</a></li>
    </ul>
  </header>

  <main>
    {% for library in libraries %}
    <h2>Recently Added in {{~ library.name -}}</h2>
    <horizontally-scrollable>
      <ul>
        {% for media_items in media_by_library.get(library.id) %}
          {% for media in media_items %}
            {% if "{:?}"|format(library.media_type)|lower == "tv" %}
              <li>
                <a href="/play/{{ media.file_id }}" aria-label="{{ media.name }}, Season {{ media.season }} Episode {{ media.episode }}, {{ media.episode_name }}">
                  <img src="/{{ media.poster_path }}" width="1000" height="1500" loading="lazy" alt="" />
                </a>
                <div class="media_metadata">
                  {% if media.progress == 0 %}
                  <span class="new">NEW</span>
                  {% endif %}
                  <a href="#" title="{{ media.name }}">
                    {{ media.name }}
                  </a>
                  <a href="#" title="{{ media.episode_name }}">
                    {{ media.episode_name }}
                  </a>
                  <span>
                    <a href="#" title="Season {{ media.season }}">S{{ media.season }}</a>
                    &CenterDot;
                    <a href="#" title="Episode {{ media.episode }}">E{{ media.episode }}</a>
                  </span>
                </div>
              </li>
            {% else %}
              <li>
                <a href="/play/{{ media.file_id }}" aria-label="{{ media.name }}, {{ media.year }}">
                  <img src="/{{ media.poster_path }}" width="1000" height="1500" loading="lazy" alt="" />
                </a>
                <div class="media_metadata">
                  {% if media.progress == 0 %}
                  <span class="new">NEW</span>
                  {% endif %}
                  <a href="#" title="{{ media.name }}">
                    {{ media.name }}
                  </a>
                  <span title="{{ media.year }}">
                    {{ media.year }}
                  </span>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </horizontally-scrollable>
    {% endfor %}
  </main>
</div>
{% endblock %}
