{% extends "base.html" %}

{% block title %}Login - Dim{% endblock %}

{% block content %}
<form class="auth-form" method="POST">
  <header>
    <h2>Sign in</h2>
    <h3>Authenticate to access to your media library.</h3>
  </header>
  <div class="fields">

    {% for (level, message) in flashes %}
    <div class="flash {{ level|lower }}">
      {{- message -}}
    </div>
    {% endfor %}

    <label for="username">Username</label>
    <input required autofocus type="text" name="username" minlength="3" maxlength="30">

    <label for="password">Password</label>
    <input required type="password" name="password" minlength="8">
  </div>
  <footer>
    <button>Login</button>
    Don't have an account? <a href="/register">Create one here</a>
  </footer>
</form>
{% endblock %}
