.banner {
    .image-wrapper {
        position: relative;
        overflow: hidden;

        img {
            height: 55vh;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), to(transparent));
            -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
                    mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), to(transparent));
                    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
            -webkit-transition: object-position 0.3s ease-in-out;
            transition: object-position 0.3s ease-in-out;
            transition: object-position 0.3s ease-in-out, -o-object-position 0.3s ease-in-out;
        }

        // OVERLAY SIDE SHADOWS
        &::after {
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
            background: -webkit-gradient(linear, left top, right top, from(#1a1a1a), color-stop(60%, transparent)), -webkit-gradient(linear, right top, left top, from(#1a1a1a), color-stop(40%, transparent));
            background: linear-gradient(90deg, #1a1a1a, transparent 60%), linear-gradient(-90deg, #1a1a1a, transparent 40%);
        }
    }

    // YEAR + GENRE
    .extras {
        top: 10%;
        left: 5%;
        position: absolute;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        // separator
        svg {
            margin: 0 10px;
            font-size: 0.4em;
        }

        p {
            margin: 0;
            font-family: "Roboto Regular";
            font-size: 0.9em;
        }

        // NOT YEAR
        p:not(:first-child) {
            margin: 0 15px 0 0;
        }
    }

    .info {
        width: 450px;
        position: absolute;
        left: 5%;
        top: 50%;
        -webkit-transform: translate(0, -30%);
                transform: translate(0, -30%);
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

        h1 {
            font-size: 2em;
            margin: 0;
        }

        .description {
            margin: 15px 0;
        }

        // BANNER CAPTION & DESCRIPTION
        h5, p {
            margin: 10px 0;
        }

        // BANNER DESCRIPTION
        p {
            color: #bfbfbf;
        }
    }

    // PLAY BUTTON
    a {
        display: inline-block;
        font-family: "Roboto Black";
        padding: 7px 30px;
        border-radius: 1vh;
        -webkit-filter: saturate(0.7);
                filter: saturate(0.7);
        -webkit-transition: -webkit-filter 0.3s ease-in-out;
        transition: -webkit-filter 0.3s ease-in-out;
        transition: filter 0.3s ease-in-out;
        transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
        text-shadow: none;

        &:hover {
            -webkit-filter: saturate(1);
                    filter: saturate(1);
        }

        // ICON
        svg {
            margin-left: 5px;
            font-size: 0.9em;
        }
    }

    .placeholder:hover {
        background-position: 100% 100%;
    }

}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (max-width: 2560px) and (max-height: 1440px) {
    .banner img {
        -o-object-position: 30% 30%;
           object-position: 30% 30%;
    }
}

@media only screen and (max-width: 720px) and (max-height: 1440px) {
    .banner img {
        -o-object-position: 50%;
           object-position: 50%;
    }
}

@media only screen and (max-width: 651px) {
    .banner {
        // OVERLAY SIDE SHADOWS
        .image-wrapper::after {
            background: -webkit-gradient(linear, left top, right top, from(#1a1a1a), color-stop(80%, transparent)), -webkit-gradient(linear, right top, left top, from(#1a1a1a), color-stop(80%, transparent));
            background: linear-gradient(90deg, #1a1a1a, transparent 80%), linear-gradient(-90deg, #1a1a1a, transparent 80%);
        }

        .info {
            width: 350px;
        }

        .progress-bar {
            display: none;
        }
    }
}