@-webkit-keyframes bounce-fill {
    0% {
        -webkit-transform: scale(1);
            transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.5);
            transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
            transform: scale(1);
    }
}

@keyframes bounce-fill {
    0% {
        -webkit-transform: scale(1);
            transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.crumbs {
    position: absolute;
    top: 10%;
    right: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    > span {
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, 0);
        border: solid 3px #ffffff;
        border-radius: 10px;
        -webkit-transition: border-radius 0.3s ease-in-out;
        transition: border-radius 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            border-radius: 5px;
        }
    }

    .active {
        background: #ffffff;
        -webkit-animation: bounce-fill 0.5s ease-out;
                animation: bounce-fill 0.5s ease-out;
    }
}

.pages {
    > div {
        position: absolute;
        display: none;
        opacity: 1;

        .banner-wrapper {
            display: block;
            opacity: 0;
            -webkit-animation-name: outBanner;
                    animation-name: outBanner;
            -webkit-animation-duration: 2s;
                    animation-duration: 2s;
        }
    }

    .active {
        display: contents;

        .banner-wrapper {
            display: block;
            opacity: 1;

            -webkit-animation-name: changeBanner;
                    animation-name: changeBanner;
            -webkit-animation-duration: 2s;
                    animation-duration: 2s;
        }
    }
}

/*
    * == KEYFRAMES ==
*/

@-webkit-keyframes changeBanner {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes changeBanner {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes outBanner {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes outBanner {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
