.progress-bar {
    position: absolute;
    bottom: 0;
    right: 5%;
    text-shadow: #000000 0 0 15px;
    text-align: center;
    display: grid;

    p {
        margin: 0;
    }

    /* ICON */
    svg {
        margin: 0 0.5vh !important;
        font-size: 0.5em !important;
        color: #e70;
    }

    /* season + episode */
    .s-e {
        margin: 0 auto;
        font-family: "Roboto Black";
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex;
        -webkit-box-pack: space-evenly;
           -moz-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                -moz-box-align: center;
             align-items: center;

    }

    .progress {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                -moz-box-align: center;
             align-items: center;

        div {
            margin: 0 1vh;
            display: inline-grid;
            text-align: center;

            /* VALUE */
            p:nth-child(1) {
                font-family: "Roboto Black";
                font-size: 1.3em;
            }

            /* UNIT */
            p:nth-child(2) {
                font-size: 0.8em;
                font-family: "Roboto Black";
            }
        }
    }


    /*
        * == PROGRESS BAR ==
    */

    .bar {
        height: 4px;
        width: 175px;
        background: #fff;
        display: block;
        border: none;
        -webkit-appearance: none;
        -webkit-box-shadow: #000000 0 0 15px;
                box-shadow: #000000 0 0 15px;
        border-radius: 4px;

        /* VALUE */
        .progress {
            height: 4px;
            border-radius: 4px;
        }
    }
}
