.progress-bar {
    position: absolute;
    bottom: 0;
    right: 5%;
    display: grid;
    text-shadow: #000000 0 0 20px;

    p {
        margin: 0;
    }

    // SEPARATOR
    svg {
        margin: 0 5px !important;
        font-size: 0.5em !important;
    }

    // SEASON AND EPISODE
    .s-e {
        margin: 0 auto;
        font-family: "Roboto Black";
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex;
        -webkit-box-pack: space-evenly;
           -moz-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                -moz-box-align: center;
             align-items: center;

    }

    .progress {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                -moz-box-align: center;
             align-items: center;

        // CURRENT AND DURATION
        div {
            text-align: center;

            /* VALUE */
            p:nth-child(1) {
                font-family: "Roboto Black";
                font-size: 1.3em;
            }

            /* UNIT */
            p:nth-child(2) {
                font-size: 0.8em;
                font-family: "Roboto Black";
            }
        }

        .bar {
            margin: 0 10px;
            height: 4px;
            width: 175px;
            background: #ffffff;
            -webkit-appearance: none;
            -webkit-box-shadow: #000000 0 0 20px;
                    box-shadow: #000000 0 0 20px;
            border-radius: 4px;
            position: relative;

            /* VALUE */
            .progress-fill {
                position: absolute;
                left: 0;
                height: 4px;
                border-radius: 4px;
            }
        }
    }

}
