.libraryActions {
  float: right;
  padding: 0 90px 60px 90px;

  button {
    padding: 10px 20px;
    border-radius: 5px;
    background: #ff6961;
    font-family: "Roboto Bold";
    font-size: 16px;
    color: #eee;

    &:hover {
      background: #ee5850;
    }

    &.deleting-true {
      cursor: not-allowed;
      opacity: .5;
    }
  }
}
