.selectUnmatchedMediaFiles {
  width: 100%;
  animation: appear 250ms ease-in-out;

  .files {
    max-height: 200px;
    background: var(--secondaryColor);
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--accentColor) #4a4a4a;

    .selectBox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      border-radius: 5px;
      border: solid 2px var(--accentColor);
      transition: background 150ms ease-in-out;
      margin-right: 0.5em;

      svg {
        font-size: 0.6em;
        overflow: unset;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
      }
    }

    .file {
      display: flex;
      padding: 0.5em 10px;
      cursor: pointer;

      &:hover {
        background: var(--tertiaryColor);
      }

      &.selected-true .selectBox {
        background: var(--accentColor);

        svg {
          opacity: 1;
        }
      }
    }
  }
}
