.selectUnmatchedMediaFileControls {
  margin-bottom: .5em;

  .selectAll {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;

    &:hover {
      background: var(--secondaryColor);
    }

    &.active-true {
      .selectBox {
        background: var(--accentColor);

        svg {
          opacity: 1;
        }
      }
    }
  }

  .selectBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: solid 2px var(--accentColor);
    transition: background 150ms ease-in-out;
    margin-right: .5em;

    svg {
      font-size: .6em;
      overflow: unset;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }
  }

  button {
    font-family: "Roboto Regular", Arial;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: var(--primaryTextColor);
    font-size: 1em;

    &:focus,
    &:hover {
      filter: saturate(1);
    }
  }
}