.unmatchedMedia {
  height: 85vh;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 30px 30px 0 30px;
  opacity: 0;
  z-index: 1;
  transition: 300ms ease-in-out;
  transition-property: padding, opacity;

  &.show-true {
    opacity: 1;
  }

  .matchingProgress {
    margin-bottom: 1em;
    background: var(--tertiaryColor);
    color: var(--primaryTextColor);
    border-radius: 10px;
    display: flex;
    padding: .3em 1em;
    position: relative;
    justify-content: center;
    overflow: hidden;

    p {
      z-index: 1;
      font-family: "Roboto Bold", Arial;
    }

    .progress {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      transition: width 300ms ease-in-out;
      background: var(--accentLighterColor);
    }
  }

  .sectionDesc {
    color: var(--secondaryTextColor);
    margin: .5em 0 1em 0;
  }

  .selectUnmatchedMedia {
    display: grid;
    gap: 1em;
    animation: appear 300ms ease-in-out;
  }
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (min-width: 1080px) {
  .unmatchedMedia {
    padding: 60px 90px 0 90px;
  }
}
