.selectUnmatchedMediaOptions {
  background: var(--primaryColor);
  display: flex;
  bottom: 0;
  margin-bottom: 30px;
  gap: 1em;
  width: 100%;
  justify-content: flex-end;
}


/*
    * == MEDIA QUERIES ==
*/

@media only screen and (min-width: 1080px) {
  .selectUnmatchedMediaOptions {
    margin-bottom: 60px;
  }
}
