@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');

.app-root {
  text-align: center;
}

.dim-sidebar {
    height: 100%;
    width: 30vh;
    max-width: 278px;
    min-width: 200px;
    position: fixed;
    float: left;
    background-color: #333;
}

.dim-sidebar-profile {
    height: 5%;
    position: relative;
    width: 80%;
    display: inline-grid;
    grid-template-rows: 20px 20px;
    grid-template-columns: 50px 90px;
    align-items: center;
}

.dim-sidebar-section {
    height: 7%;
    width: 80%;
    position: relative;
    margin: 25px 25px auto;
    text-align: left;
}

.dim-sidebar-scrollable {
    margin-top: 100px;
}

.dim-sidebar-profile > .profile-icon > .profile-icon-inner {
    height: 29px;
    width: 29px;
    background-color: #fa921f;
    border-radius: 29px;
    margin: auto;
    position: relative;
    top: 9%;
}

.dim-sidebar-profile > .profile-icon {
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border-color: #ddd;
    border-width: 2px;
    border-style: solid;
    grid-row: span 2;
    grid-column: 1;
}

.profile-name {
    color: #ddd !important;
    grid-row: 1;
    grid-column: 2;
}

.profile-hours {
    color: #777;
    grid-row: 2;
    grid-column: 2;
}

.separator {
    height: 2px;
    width: 100%;
    background-color: #777;
    border-radius: 2px;
    grid-row: 3;
    grid-column: span 3;
}

.dim-sidebar-section > .label {
    color: #777;
}

.dim-list {
    padding-left: 5px;
}

.dim-list > .item > i {
    padding-right: 15px;
    font-size: 13px;
}

li {
    list-style-type: none;
    color: #eee;
    columns: 13px;
    margin-top: 10px;
}

.dim-sidebar-account-opt {
    display: none;
}
