@font-face {
	font-family: "Roboto Regular";
	src: url("./assets/roboto_regular.ttf");
}

@font-face {
	font-family: "Roboto Black";
	src: url("./assets/roboto_black.ttf");
}

@font-face {
	font-family: "Roboto Condensed Regular";
	src: url("./assets/roboto-condensed-regular.ttf");
}

@font-face {
	font-family: "Roboto Condensed Bold";
	src: url("./assets/roboto-condensed-bold.ttf");
}

::-webkit-scrollbar {
	height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #333333;
}

::-webkit-scrollbar-thumb {
    background: #f7931e;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #1a1a1a;
	scrollbar-color: #f7931e #333333;
	scrollbar-width: thin;
}

.App {
	font-family: "Roboto Regular";
}

/*
	* == DEFAULTS ==
*/

a {
	text-decoration: none;
	color: #ffffff;
}

.empty {
	color: #ffffff;
	font-size: 0.8em;
	font-family: "Roboto Condensed Regular";
}

button {
	outline: none;
	border: none;

	&:hover {
		cursor: pointer;
	}
}

.separator {
    margin: 0 auto;
    height: 2px;
    width: 100%;
    background: #808080;
	border-radius: 2px;
}

.placeholder {
    height: 100%;
    background: #555555;

    &:hover {
        background: #444444;
    }
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
		height: 100%;
		width: 100%;
		border: solid 2px #333333;
		background: rgba(0, 0, 0, .2);
		border-top-color: #ffffff;
		-webkit-animation: spinner 0.6s linear infinite;
		        animation: spinner 0.6s linear infinite;
	}
}

@-webkit-keyframes spinner {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes spinner {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

/*
    * == POPUP ==
*/

.popup {
	display: grid;
	grid-template-areas:
		"heading"
		"input"
		"options";
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 400px;
	height: 200px;
	background: #333333;
	color: #ffffff;
	border-radius: 1vh;
	outline: none;
	padding: 1vh 2vh;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: #00000099 0 0 10px 0;
	        box-shadow: #00000099 0 0 10px 0;
	z-index: 1;
	-webkit-animation: appearPopup 0.5s ease-in-out;
	        animation: appearPopup 0.5s ease-in-out;

	h2 {
		margin: 0;
	}

	input {
		margin: 1vh 0;
		border-radius: 1vh;
		padding: 1vh 0;
		grid-area: input;
		background: #4d4d4d;
		border: none;
		padding: 1vh;
		outline: none;
		color: #ffffff;
		font-family: "Roboto Black";
	}

	.options {
		grid-area: options;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		   -moz-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		   -moz-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;

		button, a {
			font-family: "Roboto Black";
			padding: 1vh 2vh;
			border-radius: 1vh;
			-webkit-transition: 0.2s ease-in-out;
			transition: 0.2s ease-in-out;
			-webkit-transition-property: background, opacity;
			transition-property: background, opacity;
			background: #222222;
		}

		button {
			color: #ff6961;
			background: transparent;

			&:hover {
				cursor: pointer;
				color: #ff8b83;
			}
		}

		a:hover {
			background: #444444;
		}
	}

}

main {
	position: relative;
    background: #1a1a1a;
    margin-left: 300px;
    -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
         box-sizing: border-box;
    min-height: 100vh;
    color: #ffffff;
    display: grid;
    grid-template-areas:
        "banner"
        "library";
	grid-template-rows: 40vh auto;
	-webkit-transition: margin 0.3s ease-in-out;
	transition: margin 0.3s ease-in-out;

    /*
        * == LIBRARY ==
    */

    .library {
        margin: 50px 0;
        padding: 0 5%;
		z-index: 1;
		position: relative;

        h1 {
            text-transform: uppercase;
			margin: 0;
		}

		> section {
			margin-bottom: 10vh;
		}

		.floating-bar {
			position: fixed;
			bottom: 1%;
			right: 1%;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			background: #444444;
			border-radius: 10px;
			padding: 5px;
			z-index: 1;
			-webkit-box-pack: space-evenly;
			   -moz-box-pack: space-evenly;
			    -ms-flex-pack: space-evenly;
			        justify-content: space-evenly;
			text-align: center;
			-webkit-box-align: center;
			   -moz-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
			-webkit-transition-property: bottom, right, -webkit-transform;
			transition-property: bottom, right, -webkit-transform;
			transition-property: bottom, right, transform;
			transition-property: bottom, right, transform, -webkit-transform;

			a {
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				   -moz-box-orient: vertical;
				   -moz-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-pack: center;
				   -moz-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-box-align: center;
				   -moz-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				height: 40px;
				width: 40px;
				border-radius: 50%;
				-webkit-transition: background 0.3s ease-in-out;
				transition: background 0.3s ease-in-out;

				&:hover {
					background: #666666;
				}
			}
		}
    }

    .cards {
		margin: 50px 0;
		display: grid;
		-webkit-box-pack: justify;
		   -moz-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 200px);
		grid-gap: 10vh 5vh;
		-webkit-transition: all 1s;
		transition: all 1s;
    }
}

@-webkit-keyframes appearPopup {
	0% {
		opacity: 0;
		width: 0;
	}
	50% { width: 400px; }
	100% { opacity: 1; }
}

@keyframes appearPopup {
	0% {
		opacity: 0;
		width: 0;
	}
	50% { width: 400px; }
	100% { opacity: 1; }
}

@-webkit-keyframes changeSpinnerContent {
	10% { content: "⠙"; }
	20% { content: "⠹"; }
	30% { content: "⠸"; }
	40% { content: "⠼"; }
	50% { content: "⠴"; }
	60% { content: "⠦"; }
	70% { content: "⠧"; }
	80% { content: "⠇"; }
	90% { content: "⠏"; }
}

@keyframes changeSpinnerContent {
	10% { content: "⠙"; }
	20% { content: "⠹"; }
	30% { content: "⠸"; }
	40% { content: "⠼"; }
	50% { content: "⠴"; }
	60% { content: "⠦"; }
	70% { content: "⠧"; }
	80% { content: "⠇"; }
	90% { content: "⠏"; }
}

/*
    * == MEDIA QUERIES
*/

@media only screen and (max-width: 651px) {
	main .cards {
		-webkit-box-pack: center !important;
		   -moz-box-pack: center !important;
		    -ms-flex-pack: center !important;
		        justify-content: center !important;
	}
}