@font-face {
	font-family: "Roboto Regular";
	src: url("./assets/roboto_regular.ttf");
}

@font-face {
	font-family: "Roboto Black";
	src: url("./assets/roboto_black.ttf");
}

@font-face {
	font-family: "Roboto Condensed Regular";
	src: url("./assets/roboto-condensed-regular.ttf");
}

@font-face {
	font-family: "Roboto Condensed Bold";
	src: url("./assets/roboto-condensed-bold.ttf");
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	font-family: "Roboto Regular";
	display: grid;
	grid-template-areas: "sidebar main";
	grid-template-columns: 30vh auto;
}

/*
	* == DEFAULTS ==
*/
a {
	text-decoration: none;
	color: #ffffff;
}

.separator {
    margin: 0 auto;
    height: 2px;
    width: 100%;
    background: #808080;
    border-radius: 2px;
}