.metaContent {
  display: grid;
  gap: 1em;
  transition: padding .3s ease-in-out;

  .horizontal-err {
    margin-bottom: 10px;
  }

  h1 {
    font-family: "Roboto Bold";
  }

  h4 {
    font-family: "Roboto Condensed Regular";
  }

  // YEAR + GENRE
  .genres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em 0;

    // SEPARATOR
    svg {
      margin: 0 10px;
      font-size: 0.4em;
      color: #f7931e;
    }

    a {
      color: #ddd;
      transition: color .2s ease-in-out;

      &:hover {
        color: #fff;
      }

      // NOT YEAR
      &:not(:first-child) {
        margin: 0 15px 0 0;
      }
    }
  }

  .description {
    line-height: 2em;
    max-width: 60ch;
  }

  .separator {
    margin: 0;
    max-width: 60ch;
  }

  .meta-info {
    max-width: 60ch;
    display: grid;
    gap: 1em;

    h4 {
      margin-bottom: 5px;
    }

    .info {
      background: #2a2a2a;
      border-radius: 10px;
      padding: 1em;
    }

    .length {
      text-align: center;

      // value
      p:nth-child(1) {
        margin-bottom: 5px;
        letter-spacing: 1px;
      }

      /* hint */
      p:nth-child(2) {
        color: #5a5a5a;
        font-size: 0.7em;
      }
    }
  }
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (min-width: 300px) {
  .metaContent .meta-info {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}

@media only screen and (min-width: 1080px) {
}