@import "../../mixins.scss";

.profile {
    @include align-items(center);
    display: flex;
    overflow: hidden;

    .profile-icon {
        margin-right: 10px;
        height: 40px;
        width: 40px;
        padding: 4px;
        border-radius: 100%;
        border: #ffffff 2px solid;

        // shows up before loading starts
        .placeholder {
            border-radius: 50%;
        }

        .default-icon {
            background: #f7931e;
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        .image-wrapper {
            overflow: hidden;
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        img {
            @include object-fit(cover);
            @include animation(sidebarProfileIconLoad .2s ease-in-out);
            width: 100%;
            height: 100%;
            background: #f7931e;
        }
    }

    .info {
        @include animation(appear 0.3s ease-in-out);

        // USERNAME
        h4 {
            font-family: "Roboto Black";
            color: #ffffff;
        }

        // H SPENT WATCHING
        h6 {
            font-family: "Roboto Regular";
        }
    }
}

/*
    * == KEYFRAMES ==
*/

@include keyframes(sidebarProfileIconLoad) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}