.playBtn {
  transition: .2s ease-in-out;
  transition-property: filter, background;
  filter: saturate(0.7);
  font-family: "Roboto Bold";
  border-radius: 10px;
  background: #5a5a5a;
  display: inline-flex;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  align-items: center;
  color: #eee;
  font-size: 1em;

  &:focus,
  &:hover {
    filter: saturate(1);
  }

  p {
    padding: .5em .8em;
    background: #f7931e;
  }

  svg {
    font-size: .6em;
    margin: 0 10px;
  }
}
