.backdrop {
  height: 35vmin;
  padding: 30px 30px 0 30px;
  transition: padding .3s ease-in-out;

  .cardImageWrapper {
    display: none;
  }

  .placeholder {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 48px;
    }
  }

  .bannerImageWrapper {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    position: relative;

    img {
      animation: onActiveBannerImage .3s ease-in-out;
      transition: object-position 0.3s ease-in-out;
      object-fit: cover;
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }
  }
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (max-width: 2560px) and (max-height: 1440px) {
  .backdrop img {
    object-position: 30% 30%;
  }
}

@media only screen and (max-width: 720px) and (max-height: 1440px) {
  .backdrop img {
    object-position: 50%;
  }
}

@media only screen and (min-width: 1080px) {
  .backdrop {
    padding: 60px 90px 0 90px;
    display: grid;
    grid-template-columns: .15fr 1fr;
    gap: 1em;
    position: relative;

    .cardImageWrapper {
      display: block;
      position: relative;
      border-radius: 10px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
      }
    }
  }
}