.ringLoad {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;

  &.small-true div {
    border: .2em dotted #f7931e;
  }

  div {
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    border: .3em dotted #f7931e;
    border-radius: 50%;
    animation: ringLoad 1.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;
    border-color: #f7931e;
  }
}

@keyframes ringLoad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
