%card-popup {
  display: flex;
  align-items: center;
  transition: width 0.3s ease-in-out;
  position: absolute;
  top: -10px;
  height: 340px;
  width: 500px;
  background: transparent;
  pointer-events: none;
  z-index: 2;
  font-family: "Roboto Bold", Arial;
  animation: CardPopupAppear 0.2s ease-in-out;

  .clipped {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #3a3a3a;
    z-index: -1;
    pointer-events: auto;
  }

  .contentWrapper {
    display: grid;
    width: 100%;
    gap: 1em;
  }

  section {
    pointer-events: auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
      font-size: 1.4em;
    }
  }

  .rating {
    display: flex;

    svg {
      margin-left: 5px;
      width: 32px;
    }
  }

  .description {
    line-height: 1.5em;

    h4 {
      margin-bottom: 5px;
      font-family: "Roboto Bold", Arial;
    }

    p {
      font-family: "Roboto Regular", Arial;
    }
  }

  .tags {
    font-family: "Roboto Condensed Regular", Arial;
    display: flex;
    align-items: center;

    svg {
      font-size: .4em;
      margin: 0 1em;
      fill: #f7931e;
    }

    a {
      color: #ddd;
      transition: color .2s ease-in-out;

      &:hover {
        color: #fff;
      }
    }

    .genres {
      display: grid;
      justify-content: start;
      grid-template-columns: repeat(3, auto);
      align-items: center;
      gap: .5em;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .length {
    text-align: center;

    // value
    p:nth-child(1) {
      margin-bottom: 5px;
      letter-spacing: 1px;
    }

    /* hint */
    p:nth-child(2) {
      color: #5a5a5a;
      font-size: 0.7em;
    }
  }

  .separator {
    width: 100%;
  }
}

.hideCardPopup {
  animation: CardPopupHide 0.2s ease-in-out forwards;
}

.card-popup-right {
  @extend %card-popup;
  filter: drop-shadow(-5px 0 10px #1a1a1a);
  left: 80%;
  right: unset;
  padding: 0 50px 0 60px;

  .clipped {
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 10px;
    border-right: 3px solid #4a4a4a;
  }
}

.card-popup-left {
  @extend %card-popup;
  filter: drop-shadow(5px 0 10px #1a1a1a);
  left: unset;
  right: 80%;
  padding: 0 60px 0 50px;

  .clipped {
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
    border-radius: 10px;
    border-left: 3px solid #4a4a4a;
  }
}

/*
    * == KEYFRAMES ===
*/

@keyframes CardPopupAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes CardPopupHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
