.unmatchedCardList {
  padding: 30px;
  z-index: 1;
  transition: padding .3s ease-in-out;
  animation: appear .5s ease-in-out;

  .sectionDesc {
    color: #ddd;
    margin: .5em 0 1em 0;
  }

  .manuallyMatch {
    font-size: 16px;
    filter: saturate(0.7);
    transition: filter 0.3s ease-in-out;
    font-family: "Roboto Bold", Arial;
    padding: .5em;
    border-radius: 10px;
    outline: none;
    background: #f7931e;
    color: #ffffff;

    &:focus,
    &:hover {
      filter: saturate(1);
    }
  }
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (min-width: 1080px) {
  .unmatchedCardList {
    padding: 60px 90px;
  }
}
