.preferencesInvites {
  display: grid;
  gap: 1em;

  .tokensContainer {
    background: #3a3a3a;
    border-radius: 10px;
    padding: .5em;
  }

  .heading {
    padding: .5em .5em 0 .5em;
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1em;
    font-family: "Roboto Bold";
  }

  .separator {
    margin: .5em 0;
  }

  .tokens {
    .token {
      padding: .3em .5em;
      border-radius: 10px;
      display: grid;
      gap: 1em;
      color: #eee;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr 1em;
      word-break: break-all;

      &:hover {
        background: #2a2a2a;

        svg {
          opacity: 1;
        }
      }

      svg {
        cursor: pointer;
        opacity: 0;
        fill: #ccc;

        &:hover {
          fill: #fff;
        }
      }

      button {
        font-size: 1em;
        background: transparent;
      }

      .createdAt {
        display: flex;
        gap: 1em;
      }
    }
  }

  .genTokenBtn {
    padding: .5em;
    font-size: 1em;
    border-radius: 10px;
    transition: filter 0.3s ease-in-out;
    background: #f7931e;
    filter: saturate(0.7);
    font-family: "Roboto Bold";
    outline: none;

    &:focus,
    &:hover {
      filter: saturate(1);
    }

    &.disabled {
      opacity: .5;
      cursor: not-allowed;
    }

    &.critical {
      background: #ff6961;
    }

    &.important {
      background: transparent;
      color: #fff;
      outline: solid 2px #ff6961;
    }
  }
}