@import "../../mixins.scss";

%card-popup {
    @include align-items(center);
    @include box-sizing(border-box);
    @include transition(width 0.3s ease-in-out);
    @include animation(CardPopupAppear 0.5s ease-in-out);
    position: absolute;
    padding: 30px 0;
    align-content: space-between;
    top: -20px;
    height: 360px;
    width: 500px;
    background: transparent;
    pointer-events: none;
    z-index: 2;
    display: grid;
    grid-template-areas:
        "header"
        "content";
    font-family: "Roboto Black";

    .clipped {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #333333;
        z-index: -1;
        pointer-events: auto;
    }

    section {
        pointer-events: auto;
    }

    .header {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
        @include box-shadow(0 0 30px 0 #00000055);
        padding: 10px 30px;
        -webkit-clip-path: unset;
        clip-path: unset;
        border-radius: 10px;
        background: #4d4d4d;
        width: 85%;
    }

    .rating {
        @include align-items(center);
        display: inline-grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
        color: #f2f2f2;

        img {
            width: 20px;

            /* IMDB LOGO */
            &:nth-child(1) {
                width: 30px;
            }
        }
    }

    .content {
        display: grid;
        align-content: space-between;
        grid-template-areas:
            "description"
            "info"
            "seperator"
            "footer";
        grid-gap: 20px;

        .description {
            min-height: 80px;

            h4 {
                margin: 0;
                margin-bottom: 5px;
            }

            p {
                margin: 0;
                font-family: "Roboto Regular";
            }
        }

        .info {
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);
            text-align: center;

            .tags {
                @include display(flex);

                /* TAG */
                p {
                    margin: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-right: 10px;
                    background: #f7931e;
                    padding: 5px 10px;
                    border-radius: 10px;
                }

                // YEAR
                p:nth-child(1) {
                    width: 50px;
                }
            }

            .options {
                button {
                    @include transition(background 0.3s ease-in-out);
                    background: transparent;
                    padding: 5px 10px;
                    border-radius: 10px;
                    color: #ffffff;

                    &:hover {
                        background: #555555;
                    }
                }
            }

        }

        .footer {
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);

            // LENGTH + HINT
            p {
                margin: 0;
            }

            // PLAY BUTTON
            a {
                @include filter(saturate(0.7));
                @include transition(filter 0.3s ease-in-out);
                padding: 10px 30px;
                background: #f7931e;
                border-radius: 10px;

                &:hover {
                    @include filter(saturate(1));
                    cursor: pointer;
                }
            }
        }

        .length {
            text-align: center;

            // LENGTH VALUE
            p:nth-child(1) {
                margin-bottom: 5px;
                letter-spacing: 1px;
            }

            /* LENGTH HINT */
            p:nth-child(2) {
                color: #666666;
                font-size: 0.7em;
            }
        }

        /* ICON */
        svg {
            margin: 0 5px 0 5px;
            font-size: 0.9em;
        }

        .separator {
            width: 100%;
        }
    }
}

.card-popup-right {
    @extend %card-popup;
    left: 50%;
    right: unset;

    .clipped {
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 5% 100%);
        border-radius: 0 10px 10px 0;
    }

    .header {
        justify-self: end;
        transform: translateX(-40px);
    }

    .content {
        margin: 0 40px 0 70px;
    }
}

.card-popup-left {
    @extend %card-popup;
    left: unset;
    right: 50%;

    .clipped {
        clip-path: polygon(0 0, 90% 0, 95% 100%, 0 100%);
        border-radius: 10px 0 0 10px;
    }

    .header {
        justify-self: start;
        transform: translateX(40px);
    }

    .content {
        margin: 0 70px 0 40px;
    }
}

/*
    * == KEYFRAMES ===
*/

@include keyframes(CardPopupAppear) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
    * == MEDIA QUERIES ===
*/

@media only screen and (max-width: 800px) {
	%card-popup {
        width: 210px !important;

        .header {
            font-size: 0.9em;
            padding: 10px 20px !important;

            h1, p {
                margin: 2px 0 !important;
            }

            text-align: center;
            display: block !important;
        }

        .content {
            @include justify-content(end);
            margin: 0 40px 0 20px !important;
            padding: 0 !important;
            grid-gap: 10px;
        }

        .options,
        .separator,
        .description {
            display: none !important;
        }

        .tags {
            @include flex-direction(column);

            p {
                margin: 2px 0 !important;
            }
        }

        .footer {
            @include flex-direction(column !important);

            a {
                margin-top: 10px !important;
            }
        }
	}
}