.card-wrapper {
    position: relative;

    &:hover .card {
        .image-wrapper {
            -webkit-box-shadow: white 0 0 50px -20px;
                    box-shadow: white 0 0 50px -20px;
        }
    }
}

.card {
    height: 320px;
    width: 200px;
    text-align: center;

    a {
        text-decoration: none;
        color: #ffffff;
    }

    .image-wrapper {
        -webkit-box-shadow: none;
                box-shadow: none;
        -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
        transition: -webkit-box-shadow 0.3s ease-in-out;
        transition: box-shadow 0.3s ease-in-out;
        transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    }

    img {
        will-change: transform;
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }

    img, div, .placeholder {
        display: block;
        height: 320px;
        width: 200px;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 1vh;
        overflow: hidden;
    }

    img, .image-wrapper {
        -webkit-animation: imageLoaded 1s ease-in-out;
                animation: imageLoaded 1s ease-in-out;
    }

    p {
        margin-top: 1vh;
        text-transform: uppercase;
        font-size: 0.8em;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
}

/*
    * == KEYFRAMES ==
*/

@-webkit-keyframes imageLoaded {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes imageLoaded {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}