.card-popup {
    position: absolute;
    padding: 30px 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    top: -20px;
    height: 360px;
    width: 500px;
    background: transparent;
    pointer-events: none;
    z-index: 1;
    display: grid;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-areas:
        "header"
        "content";
    font-family: "Roboto Black";
    -webkit-animation: CardPopupAppear 0.5s ease-in-out;
            animation: CardPopupAppear 0.5s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;

    .clipped {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #333333;
        z-index: -1;
        pointer-events: auto;
    }

    section {
        pointer-events: auto;
    }

    .header {
        padding: 10px 30px;
        -webkit-clip-path: unset;
        clip-path: unset;
        border-radius: 10px;
        background: #4d4d4d;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -moz-box-pack: justify;
             justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -moz-box-align: center;
             align-items: center;
        width: 85%;
        -webkit-box-shadow: 0 0 30px 0 #00000055;
                box-shadow: 0 0 30px 0 #00000055;
    }

    .rating {
        display: inline-grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                -moz-box-align: center;
             align-items: center;
        color: #f2f2f2;

        img {
            width: 20px;

            /* IMDB LOGO */
            &:nth-child(1) {
                width: 30px;
            }
        }
    }

    .content {
        display: grid;
        -ms-flex-line-pack: justify;
            align-content: space-between;
        grid-template-areas:
            "description"
            "info"
            "seperator"
            "footer";
        grid-gap: 20px;

        .description {
            min-height: 80px;

            h4 {
                margin: 0;
                margin-bottom: 5px;
            }

            p {
                margin: 0;
                font-family: "Roboto Regular";
            }
        }

        .info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-box;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    -moz-box-align: center;
                 align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    -moz-box-pack: justify;
                 justify-content: space-between;
            text-align: center;

            .tags {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-box;
                display: flex;

                /* TAG */
                p {
                    margin: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-right: 10px;
                    background: #f7931e;
                    padding: 5px 10px;
                    border-radius: 10px;
                }

                // YEAR
                p:nth-child(1) {
                    width: 50px;
                }

                // GENRE
                p:nth-child(2) {
                    // width: 120px;
                }
            }

            .options {
                button {
                    background: transparent;
                    padding: 5px 10px;
                    border-radius: 10px;
                    color: #ffffff;
                    -webkit-transition: background 0.3s ease-in-out;
                    transition: background 0.3s ease-in-out;

                    &:hover {
                        background: #555555;
                    }
                }
            }

        }

        .footer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-box;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    -moz-box-align: center;
                 align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    -moz-box-pack: justify;
                 justify-content: space-between;

            // LENGTH + HINT
            p {
                margin: 0;
            }

            // PLAY BUTTON
            a {
                padding: 10px 30px;
                -webkit-filter: saturate(0.7);
                        filter: saturate(0.7);
                background: #f7931e;
                border-radius: 10px;
                -webkit-transition: filter 0.3s ease-in-out;
                -webkit-transition: -webkit-filter 0.3s ease-in-out;
                transition: -webkit-filter 0.3s ease-in-out;
                transition: filter 0.3s ease-in-out;
                transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;

                &:hover {
                    -webkit-filter: saturate(1);
                            filter: saturate(1);
                    cursor: pointer;
                }
            }
        }

        .length {
            text-align: center;

            // LENGTH VALUE
            p:nth-child(1) {
                margin-bottom: 5px;
                letter-spacing: 1px;
            }

            /* LENGTH HINT */
            p:nth-child(2) {
                color: #666666;
                font-size: 0.7em;
            }
        }

        /* ICON */
        svg {
            margin: 0 5px 0 5px;
            font-size: 0.9em;
        }

        .separator {
            width: 100%;
        }
    }
}

/*
    * == KEYFRAMES ===
*/

@-webkit-keyframes CardPopupAppear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes CardPopupAppear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*
    * == MEDIA QUERIES ===
*/

@media only screen and (max-width: 800px) {
	.card-popup {
        width: 210px !important;

        .header {
            font-size: 0.9em;
            padding: 10px 20px !important;

            h1, p {
                margin: 2px 0 !important;
            }

            text-align: center;
            display: block !important;
        }

        .content {
            margin: 0 40px 0 20px !important;
            padding: 0 !important;
            grid-gap: 10px;
            -webkit-box-pack: end;
               -moz-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: end;
        }

        .options,
        .separator,
        .description {
            display: none !important;
        }

        .tags {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;

            p {
                margin: 2px 0 !important;
            }
        }

        .footer {
            -webkit-box-orient: vertical !important;
            -webkit-box-direction: normal !important;
               -moz-box-orient: vertical !important;
               -moz-box-direction: normal !important;
                -ms-flex-direction: column !important;
                    flex-direction: column !important;

            a {
                margin-top: 10px !important;
            }
        }
	}
}