.card-wrapper {
    position: relative;
}

.card {
    height: 320px;
    width: 200px;
    text-align: center;

    a {
        text-decoration: none;
        color: #ffffff;
    }

    img {
        will-change: transform;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;

        &:hover {
            -webkit-transform: scale(1.01);
                    transform: scale(1.01);
        }
    }

    img, div, .placeholder {
        display: block;
        height: 320px;
        width: 200px;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 1vh;
        overflow: hidden;
    }

    img, .image-wrapper {
        -webkit-animation-name: imageLoaded;
                animation-name: imageLoaded;
        -webkit-animation-duration: 0.7s;
                animation-duration: 0.7s;
    }

    p {
        margin-top: 1vh;
        text-transform: uppercase;
        font-size: 0.8em;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
}

.placeholder {
    height: 100%;
    background: #555555;

    &:hover {
        background: #444444;
    }

    &::after {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        position: absolute;
        content: "MISSING COVER";
    }
}

/*
    * == KEYFRAMES ==
*/

@-webkit-keyframes imageLoaded {
    from {
        background-color: #555;
        opacity: 0;
    }
    to {
        background-color: none;
        opacity: 0.7;
    }
}

@keyframes imageLoaded {
    from {
        background-color: #555;
        opacity: 0;
    }
    to {
        background-color: none;
        opacity: 0.7;
    }
}
