@import "../mixins.scss";

.auth-form {
    @include transition(0.3s ease-in-out);
    @include transform(translate(-50%, -50%));
    @include box-sizing(border-box);
    @include box-shadow(0 0 20px 0 rgba(255, 255, 255s, 0.05));
    position: absolute;
    padding: 50px;
    top: 50%;
    left: 50%;
    overflow-y: auto;
    width: 550px;
    background: #333333;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
    transition-property: width, height, border-radius;

    header {
        text-align: center;

        h3 {
            margin-top: 5px;
            color: #aaaaaa;
        }
    }

    .fields {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        margin: 2rem 0;
        border-radius: 10px;
        width: 100%;

        .field {
            margin: 10px 0;
            width: 100%;

            label {
                @include display(flex);
                @include align-items(center);

                svg {
                    font-size: 0.8em;
                }

                p {
                    margin: 0 5px;
                    font-family: "Roboto Condensed Regular";
                }

                .horizontal-err {
                    background: #ee4740;
                }
            }

            input {
                @include transition(background 0.3s ease-in-out);
                @include box-sizing(border-box);
                margin-top: 10px;
                background: #4d4d4d;
                outline: none;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                color: #ffffff;
                width: 100%;
                height: 40px;
                overflow: hidden;
                white-space: nowrap;

                &:focus,
                &:hover {
                    background: #5d5d5d;
                }
            }
        }
    }

    footer {
        width: 100%;

        button {
            @include transition(background 0.3s ease-in-out);
            margin-bottom: 10px;
            padding: 10px 20px;
            width: 100%;
            font-family: "Roboto Black";
            font-size: 1.1em;
            background: #f7931e;
            color: #ffffff;
            border-radius: 5px;

            &:hover {
                background: #e6820d;
            }
        }

        a {
            @include transition(color 0.2s ease-in-out);

            &:hover {
                color: #f7931e;
            }
        }
    }
}

/*
    * == MEDIA QUERIES
*/

@media only screen and (max-width: 580px) {
    .auth-form {
        width: 100%;
        height: 100%;
        border-radius: unset;
    }
}
