@import "../mixins.scss";

.media-page {
    .backdrop {
        height: 100%;
        z-index: -1;

        .placeholder {
            height: 60vh;
        }

        .image-wrapper {
            position: relative;
            overflow: hidden;
            opacity: 0.2;

            img:nth-child(1) {
                @include animation(mediaPageBackdropAppear 1s ease-in-out);
                @include mask-image(linear-gradient(to bottom, #000000 50%, transparent 100%));
                @include transition(object-position 0.3s ease-in-out);
                @include object-fit(cover);
                height: 60vh;
                width: 100%;
            }
        }
    }

    .meta-content {
        @include display(flex);
        @include align-items(center);
        @include animation(mediaPageContentAppear 1s ease-in-out);
        position: absolute;
        top: 90px;
        left: 90px;
        right: 90px;

        .cover {
            margin-right: 40px;
            height: 320px;
            width: 200px;

            .image-wrapper {
                height: 320px;
                width: 200px;

                img {
                    @include object-fit(cover);
                    border-radius: 10px;
                    width: 200px;
                    height: 320px;
                }
            }

            .placeholder {
                border-radius: 10px;
                background: #333333;
                height: 320px;
                width: 200px;
            }
        }

        .overview {
            width: 100%;

            .placeholder-text {
                background: #333333;
            }

            .placeholder-text-light {
                background: #505050;
            }

            .horizontal-err {
                margin-bottom: 10px;
            }

            h1 {
                margin-bottom: 10px;
                font-family: "Roboto Bold";
            }

            h4 {
                margin: 15px 0 5px 0;
                font-family: "Roboto Condensed Bold";
            }

            // YEAR + GENRE
            .genres {
                @include display(flex);
                @include align-items(center);

                // SEPARATOR
                svg {
                    margin: 0 10px;
                    font-size: 0.4em;
                }

                // NOT YEAR
                a:not(:first-child) {
                    margin: 0 15px 0 0;
                }

                .placeholder-text {
                    width: 50px;
                    margin-right: 15px;
                }
            }

            .description {
                margin-top: 15px;
                max-width: 1100px;

                .placeholder-text {
                    width: 100%;
                }
            }

            .meta-info {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: repeat(2, auto);

                .info {
                    & > .placeholder-text {
                        width: 75px;
                    }
                }
            }
        }
    }

    .content {
        margin: 90px;
    }

    .se-ep {
        .list {
            @include justify-content(space-between);
            margin: 50px 0;
            display: grid;
            grid-gap: 100px 50px;
            z-index: 1;
        }

        .seasons {
            .list {
                grid-template-columns: repeat(auto-fill, 200px);
            }

            .season {
                @include transition(box-shadow 0.3s ease-in-out);
                height: 320px;
                width: 200px;
                text-align: center;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    @include box-shadow(#ffffff 0 0 50px -20px);
                }

                .image-wrapper {
                    border-radius: 10px;

                    img {
                        @include object-fit(cover);
                        @include transition(transform 0.3s ease-in-out);
                        @include animation(imageLoaded 1s ease-in);
                        will-change: transform;
                        height: 320px;
                        width: 200px;
                        border-radius: 10px;
                    }
                }

                p {
                    @include transition(opacity 0.3s ease-in-out);
                    margin-top: 1vh;
                    text-transform: uppercase;
                    font-size: 0.8em;
                }
            }
        }

        .episodes {
            margin: 100px 0;

            .list {
                grid-template-columns: repeat(auto-fill, 150px);
            }

            .episode {
                text-align: center;
                border-radius: 5px;
                cursor: pointer;
                width: 150px;
                height: 85px;

                &:hover .image-wrapper {
                    @include box-shadow(#ffffff 0 0 50px -20px);
                }

                .image-wrapper {
                    @include transition(box-shadow 0.3s ease-in-out);
                    border-radius: 5px;
                    width: 150px;
                    height: 85px;

                    img {
                        @include object-fit(cover);
                        @include transition(transform 0.3s ease-in-out);
                        @include animation(imageLoaded 1s ease-in);
                        will-change: transform;
                        width: 150px;
                        height: 85px;
                        border-radius: 5px;
                    }
                }

                p {
                    @include transition(opacity 0.3s ease-in-out);
                    margin-top: 1vh;
                    text-transform: uppercase;
                    font-size: 0.8em;
                }
            }
        }
    }


}

/*
    * == KEYFRAMES ==
*/

@include keyframes(mediaPageBackdropAppear) {
    0% {
        @include transform(scale(1.1));
        opacity: 0;
    }
    100% {
        @include transform(scale(1));
        opacity: 1;
    }
}

@include keyframes(mediaPageContentAppear) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(imageLoaded) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (max-width: 2560px) and (max-height: 1440px) {
    .mediaBackdrop img {
        -o-object-position: 30% 30%;
           object-position: 30% 30%;
    }
}

@media only screen and (max-width: 720px) and (max-height: 1440px) {
    .mediaBackdrop img {
        -o-object-position: 50%;
           object-position: 50%;
    }
}
