@import "../mixins.scss";

.preferencesPage {
    height: 100%;
    margin: 50px 90px;

    .preferences {
        display: grid;
        grid-template-areas: "nav content";
        grid-template-columns: auto 1fr;
        grid-gap: 5em;

        nav {
            grid-area: nav;
            display: flex;
            flex-direction: column;

            section {
                & > p {
                    margin: 0 0 10px 10px;
                    font-family: "Roboto Bold";
                }

                .field {
                    @include display(flex);
                    @include align-items(center);
                    @include transition(background .1s ease-in-out);
                    height: 40px;
                    width: 240px;
                    padding: 0 10px;
                    border-radius: 10px;
                    cursor: pointer;

                    &:hover {
                        background: #222;
                    }

                    &.active {
                        background: #555;

                        &:hover {
                            background: #666;
                        }
                    }
                }
            }

        }

        .content {
            grid-area: content;

            section {
                & > p {
                    margin-bottom: 10px;
                }

                .account {
                    @include display(flex);
                    @include justify-content(space-between);
                    @include align-items(center);
                    max-width: 300px;
                    padding: 1rem;
                    border-radius: 10px;
                    background: #222;

                    .edit {
                        @include transition(background .1s ease-in-out);
                        cursor: pointer;
                        height: 40px;
                        padding: 10px;
                        width: 40px;
                        border-radius: 10px;
                        cursor: not-allowed;

                        &:hover {
                            background: #333;
                        }
                    }
                }

            }

            .invites {
                button {
                    @include transition(filter 0.3s ease-in-out);
                    @include filter(saturate(0.7));
                    margin-bottom: 1rem;
                    display: inline-block;
                    font-family: "Roboto Black";
                    padding: 7px 30px;
                    border-radius: 5px;
                    background: #f7931e;
                    text-shadow: none;
                    outline: none;
                    color: #fff;
                    font-family: "Roboto Regular";
                    cursor: pointer;

                    &:focus,
                    &:hover {
                        @include filter(saturate(1));
                    }
                }

                .invitesList {
                    .item-wrapper {
                        margin-bottom: 1rem;
                        background: #222;
                        height: 40px;
                        width: 200px;
                        border-radius: 10px;
                    }

                    p {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}