@import "../mixins.scss";

.controls {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include transition(opacity 0.1s ease-in-out);
    align-self: flex-end;
    grid-area: bottom;
    pointer-events: all;
    opacity: 1;

    &:hover {
        opacity: 1;
    }

    svg {
        margin: 0 10px;
    }

    .upper {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(flex-end);
        width: 100%;
        font-family: "Roboto Condensed Bold";

        p {
            margin: 0;
        }

        // S1 . E1 separator
        svg {
            font-size: 0.4em;
            color: var(--accent-background);
            margin: 0 5px;
        }

        // S1 . E1 + movie name
        .left {
            text-transform: uppercase;

            .se-ep {
                margin-bottom: 5px;
                @include display(flex);
                @include align-items(center);
                font-family: "Roboto Condensed";
            }
        }

        // video current time and duration
        .right {
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);
        }
    }

    .center {
        margin: 25px 0;
        width: 100%;

        .video-progress-wrapper {
            border-radius: 10px;
            background: linear-gradient(315deg, #333333 0%, #363636 100%);
            width: 100%;
            height: 12px;
            position: relative;
            display:inline-block;
            overflow: hidden;

            &:hover {
                cursor: pointer;
                background: linear-gradient(315deg, #444444 0%, #363636 100%);
            }

            span {
                font-family: "Roboto Condensed Bold";
            }

            .video-progress-inner {
                @include transition(width 0.1s ease-in-out);
                background: var(--accent-background);
                border-radius: 10px;
                height: 12px;
                width: 0;
                position: relative;
                pointer-events: none;

                .video-progress-dragger {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #ffffff;
                    height: 12px;
                    width: 18px;
                    border-radius: 10px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .lower {
        @include display(flex);
        @include justify-content(space-between);
        width: 100%;

        svg {
            @include transition(color 0.1s ease-in-out);
            cursor: pointer;

            &:hover {
                color: var(--accent-background);
            }
        }

        // volume slider
        .left {
            @include display(flex);
            @include justify-content(flex-start);

            svg {
                margin: 0 10px 0 0;
            }
        }

        // video skip + play/pause
        .middle {
            @include display(flex);
            @include justify-content(center);
        }

        // fullscreen toggle
        .right {
            @include display(flex);
            @include justify-content(flex-end);

            svg {
                margin: 0 0 0 10px;
            }
        }
    }
}