@import "../mixins.scss";

:root {
    --accent-background: #f7931e;
    --accent-text: #ffffff;
}

.video-wrapper {
    position: relative;
    background: #000000;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

video {
    height: 100vh;
    width: 100vw;
    outline: none;
}

.overlay {
    @include box-sizing(border-box);
    @include transition(opacity 0.3s ease-in-out);
    @include justify-content(space-between);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 50px;
    opacity: 1;
    display: grid;
    grid-gap: 100px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 0.9fr 200px;
    grid-template-areas:
        "top-left top top-right"
        "middle-left middle middle-right"
        "bottom-left bottom bottom-right";
    pointer-events: none;
    z-index: 1;

    // OVERLAY SIDE SHADOWS
    &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background:
            linear-gradient(90deg, #000000, transparent 20%),
            linear-gradient(-90deg, #000000, transparent 20%),
            linear-gradient(180deg, #000000, transparent 40%),
            linear-gradient(0deg, #000000, transparent 40%);
        z-index: -1;
    }

    .cover {
        grid-area: bottom-left;
        pointer-events: all;
    }

    .ends-at {
        grid-area: bottom-right;
        align-self: flex-end;
        text-align: right;
        pointer-events: all;

        p {
            margin: 0;
        }

        // header
        p:first-child {
            font-size: 0.8em;
            margin-bottom: 5px;
            font-family: "Roboto Condensed Regular";
        }

        // time
        p:last-child {
            font-family: "Roboto Condensed Bold";
        }
    }

    .video-nav {
        @include display(flex);
        @include justify-content(center);
        grid-area: top;
        pointer-events: all;
        position: relative;
        font-family: "Roboto Black";

        %navLinkIndicator {
            @include transform(translate(-50%, -50%));
            content: "";
            position: absolute;
            top: -50%;
            left: 50%;
            height: 4px;
            width: 20px;
            background: var(--accent-background);
            border-radius: 10px;
        }

        .active::after {
            @extend %navLinkIndicator;
            @include animation(activeVideoNavLink 0.3s ease-out);
        }

        .inActive::after {
            @extend %navLinkIndicator;
            @include animation(hideVideoNavLink 0.3s ease-in forwards);
        }

        p {
            margin: 0 10px;
            position: relative;
            cursor: pointer;
            text-align: center;
        }
    }

    .pages {
        justify-self: center;
        grid-area: middle;
        position: relative;
        pointer-events: all;

        .page {
            @include transform(translateX(-50%));
            border-radius: 10px;
            box-sizing: border-box;
            padding: 20px;
            height: auto;
            position: absolute;
            background: linear-gradient(315deg, #333333 0%, #363636 100%);
            box-sizing: border-box;

            .versions {
                @include display(flex);
                @include flex-direction(column);
                overflow-y: scroll;
                padding-right: 10px;
                max-height: 250px;
                width: 500px;

                .version {
                    @include display(flex);
                    @include align-items(center);
                    @include transition(background 0.2s ease-in-out);
                    padding: 10px;
                    border-radius: 10px;
                    background: none;
                    font-family: "Roboto Condensed";

                    &:hover {
                        background: #444444;
                    }

                    svg {
                        margin-right: 10px;
                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }

        .shown {
            @include animation(shownVideoNavPage 0.3s ease-in);
            opacity: 1;
            z-index: 1;
        }

        .hidden {
            @include animation(hiddenVideoNavPage 0.3s ease-in);
            opacity: 0;
        }
    }

}

/*
    * == KEYFRAMES ==
*/

@include keyframes(activeVideoNavLink) {
    0% {
        opacity: 0;
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        opacity: 1;
        width: 20px;
    }
}

@include keyframes(shownVideoNavPage) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(hiddenVideoNavPage) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include keyframes(hideVideoNavLink) {
    0% {
        opacity: 1;
    }
    50% {
        width: 30px;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (max-width: 1120px) {
    .overlay {
        grid-template-areas:
            "top-left top-right"
            "middle middle"
            "bottom bottom";
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .cover {
        display: none;
    }
    .controls {
        grid-area: bottom;
    }
    .ends-at {
        grid-area: top-left !important;
        text-align: left !important;
    }
    .video-nav {
        grid-area: top-right !important;
    }
}

@media only screen and (max-width: 550px) {
    .overlay {
        grid-template-areas:
            "top top"
            "middle middle"
            "bottom bottom";
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 40px;
    }
    .ends-at {
        text-align: left !important;
        grid-area: middle !important;
    }
    .video-nav {
        grid-area: top !important;
    }
}


@media only screen and (max-width: 320px) {
    .overlay {
        grid-template-areas:
            "top top"
            "middle middle"
            "bottom bottom";
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 40px;
    }
    .ends-at {
        grid-area: top !important;
        text-align: center !important;

    }
    .video-nav {
        display: none !important;
    }
}