.popup {
  animation: appear .3s ease-in-out;
  background: #00000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.modalBox {
  box-shadow: #00000088 0 0 10px;
  transition: width .2s ease-in-out;
  background: var(--modalPrimaryColor);
  outline: none;
  z-index: 1;

  .modalAccountActions {
    width: 100%;
    color: var(--primaryTextColor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;

    .separator {
      margin-top: .5em;
    }

    .item {
      display: flex;
      justify-content: flex-start;
      padding: 1em;
      gap: .5em;
      align-items: center;

      h3 {
        font-family: "Roboto Condensed Regular", Arial;
        margin-left: .5em;
      }
    }

    button {
      font-size: 1.2em;
      filter: saturate(0.7);
      transition: filter 0.3s ease-in-out;
      font-family: "Roboto Regular";
      padding: .5em;
      border-radius: 10px;
      outline: none;
      background: transparent;
      color: var(--tertiaryTextColor);

      &:focus,
      &:hover {
        filter: saturate(1);
      }
    }
  }
}

@media only screen and (min-width: 650px) {
  .modalBox {
    transform: translate(-50vw, -50vh) translate(10px, 175px);
    border: 1px solid #4a4a4a;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
}

