.confirmationBox {
  box-shadow: #00000088 0 0 10px;
  transform: translate(-50%, -50%);
  transition: width .2s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: #333333;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  color: #ffffff;
  outline: none;
  padding: 20px;
  z-index: 1;

  .separator {
    margin-top: .5em;
  }

  h3 {
    font-family: "Roboto Condensed Regular";
  }

  p {
    margin: 1em 0;
  }

  .options {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: auto auto;
    gap: .5em;

    button {
      font-size: 16px;
      filter: saturate(0.7);
      transition: filter 0.3s ease-in-out;
      font-family: "Roboto Bold";
      padding: .5em;
      border-radius: 10px;
      outline: none;
      background: #f7931e;
      color: #ffffff;

      &:focus,
      &:hover {
        filter: saturate(1);
      }
    }

    .confirmationBoxCancel {
      transition: color 0.3s ease-in-out;
      background: transparent;

      &:focus,
      &:hover {
        color: #ff6961;
      }
    }
  }
}

@media only screen and (min-width: 650px) {
  .confirmationBox {
    border: 1px solid #4a4a4a;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
}