{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "overrides": [{
    "files": ["**/*.js?(x)"],
    "rules": {
      "indent": ["error", 2, {"SwitchCase": 1}],
      "no-trailing-spaces": "error",
      "eol-last": "error",
      "no-extra-semi": "error",
      "semi": "error",
      "quotes": "error",
      "line-comment-position": "error",
      "eqeqeq": "error",
      "no-multi-str": "error",
      "no-multiple-empty-lines": ["error", {"max": 1}],
      "no-multi-spaces": "error",
      "block-spacing": "error",
      "space-before-blocks": "error",
      "array-bracket-spacing": "error",
      "comma-dangle": "error"
    }
  }]
}
