.dirSelection {
  grid-area: dirSelection;

  .header {
    display: flex;
    margin-bottom: .5em;
    justify-content: space-between;

    button {
      animation: appear 200ms ease-in-out;
    }
  }

  .dirs-wrapper {
    border-radius: 10px;
    overflow: hidden;
  }

  .dirs {
    position: relative;
    overflow-y: auto;
    height: 224px;
    border-radius: inherit;
    background: var(--modalSecondaryColor);
    scrollbar-width: thin;

    .vertical-err {
      position: absolute;
      left: 50%;
      transform: translate(-50%);

      p {
        color: var(--primaryTextColor);
      }
    }

    .dir {
      display: grid;
      grid-template-columns: 1fr 20px;
      gap: .5em;
      padding: 0 .5em;
      align-items: center;
      cursor: pointer;
      min-height: 32px;
      color: var(--primaryTextColor);

      &:hover {
        background: var(--modalTertiaryColor);
      }

      &.selected-false .selectBox {
        opacity: 0;
      }

      &.selected-true .selectBox {
        background: var(--accentColor);

        svg {
          opacity: 1;
        }
      }

      &.selected-false:hover .selectBox {
        opacity: 1;
      }

      .label {
        padding: .5em 0;
        width: 100%;
        display: flex;

        // folder icon
        svg {
          margin-right: 10px;
          fill: var(--tertiaryTextColor);
        }

        // path name
        p {
          margin: 0;
          user-select: none;
          overflow-wrap: break-word;
          overflow: hidden;
          word-break: break-all;
        }
      }

      .selectBox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        border: solid 2px var(--accentColor);
        transition: background 150ms ease-in-out;
        margin-right: .5em;

        svg {
          fill: var(--primaryTextColor);
          font-size: .6em;
          overflow: unset;
          opacity: 0;
          transition: opacity 150ms ease-in-out;
        }
      }
    }
  }

  .controls {
    margin-top: .5em;
    display: flex;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      filter: saturate(0.7);
      transition: 300ms ease-in-out;
      transition-property: filter, opacity;
      font-family: "Roboto Bold", Arial;
      padding: 5px 10px;
      border-radius: 10px;
      font-size: 16px;
      outline: none;
      background: var(--accentColor);
      color: var(--primaryTextColor);

      &:focus,
      &:hover {
        filter: saturate(1);
      }

      &.disable-true {
        cursor: not-allowed;
        opacity: .5;
      }

      svg {
        fill: var(--accentTextColor);
      }
    }

    .current {
      margin-left: .5em;
      font-family: "Roboto Condensed Regular", Arial;
    }
  }
}
