.dirSelection {
  grid-area: dirSelection;

  .header {
    display: flex;
    gap: 0.5em;
    margin-bottom: 0.5em;
    justify-content: space-between;
    flex-wrap: wrap;

    .actions {
      display: flex;
      gap: 1em;
    }
  }

  .dirs-wrapper {
    border-radius: 10px;
    overflow: hidden;
  }

  .dirs {
    position: relative;
    overflow-y: auto;
    height: 224px;
    border-radius: inherit;
    background: var(--modalSecondaryColor);
    scrollbar-width: thin;

    .vertical-err {
      position: absolute;
      left: 50%;
      transform: translate(-50%);

      p {
        color: var(--primaryTextColor);
      }
    }

    .dir {
      display: grid;
      grid-template-columns: 1fr 20px;
      gap: 0.5em;
      padding: 0 0.5em;
      align-items: center;
      cursor: pointer;
      min-height: 32px;
      color: var(--primaryTextColor);

      &:hover {
        background: var(--modalTertiaryColor);
      }

      &.selected-false .selectBox {
        opacity: 0;
      }

      &.selected-true .selectBox {
        background: var(--accentColor);

        svg {
          opacity: 1;
        }
      }

      &.selected-false:hover .selectBox {
        opacity: 1;
      }

      .label {
        padding: 0.5em 0;
        width: 100%;
        display: flex;

        // folder icon
        svg {
          margin-right: 10px;
          fill: var(--tertiaryTextColor);
        }

        // path name
        p {
          margin: 0;
          user-select: none;
          overflow-wrap: break-word;
          overflow: hidden;
          word-break: break-all;
        }
      }

      .selectedInsideCount {
        color: var(--tertiaryTextColor);
      }

      .selectBox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        border: solid 2px var(--accentColor);
        transition: background 150ms ease-in-out;
        margin-right: 0.5em;

        svg {
          fill: var(--primaryTextColor);
          font-size: 0.6em;
          overflow: unset;
          opacity: 0;
          transition: opacity 150ms ease-in-out;
        }
      }
    }
  }

  .controls {
    margin-top: 0.5em;
    display: flex;
    align-items: center;

    .current {
      margin-left: 0.5em;
      font-family: "Roboto Condensed Regular", Arial;
    }
  }
}
