@import "../../mixins.scss";

.banner-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  animation: bannerAppear .3s ease-in-out;

  .pages {
    height: 100%;

    .active, .hide {
      display: contents;
    }
  }
}

/*
    * == KEYFRAMES ==
*/

@include keyframes(bannerAppear) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(onActiveBannerImage) {
  0% {
    opacity: 0;
    @include transform(scale(1.1));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}

@include keyframes(onHideBannerImage) {
  0% {
    opacity: 1;
    @include transform(scale(1));
  }
  100% {
    opacity: 0;
    @include transform(scale(1.05));
  }
}

@include keyframes(onHideBanner) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(onActiveBanner) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
    * == MEDIA QUERIES ==
*/

@media only screen and (min-width: 1080px) {
  .banner-wrapper {
    .crumbs {
      top: 40px;
      right: 90px;
    }
  }
}
