.bannerPlayBtn {
  transition: .2s ease-in-out;
  transition-property: filter, background;
  filter: saturate(0.7);
  font-family: "Roboto Bold";
  border-radius: 10px;
  background: #4a4a4a;
  display: inline-flex;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  align-items: center;

  &:focus,
  &:hover {
    filter: saturate(1);
  }

  p {
    padding: .4em .8em;
  }

  svg {
    font-size: .6em;
    margin: 0 10px;
  }
}
